h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.nbg {
  font-family: "NanumBarunGothic", sans-serif; }

.jjmj {
  font-family: 'Jeju Myeongjo', serif; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.activity #policy {
  margin-top: 110px; }
  @media (min-width: 768px) {
    .activity #policy {
      margin-top: 130px; } }
  @media (min-width: 992px) {
    .activity #policy {
      margin-top: 150px; } }

.page-header {
  margin-bottom: 0; }
  .page-header .header-title {
    background-image: url(/assets/images/activity/page_header_xs.jpg); }
    @media (min-width: 768px) {
      .page-header .header-title {
        background-image: url(/assets/images/activity/page_header_lg.jpg); } }

.activity-list .search-form {
  margin-bottom: 45px; }
  @media (min-width: 768px) {
    .activity-list .search-form {
      margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .activity-list .search-form {
      margin-bottom: 50px; } }
.activity-list .btn-area {
  margin-top: 20px; }
  @media (min-width: 768px) {
    .activity-list .btn-area {
      text-align: right;
      margin-top: 50px; } }
  @media (min-width: 992px) {
    .activity-list .btn-area {
      margin-top: 50px; } }
.activity-list .paging {
  margin-top: 35px; }
  @media (min-width: 768px) {
    .activity-list .paging {
      margin-top: 10px; } }
  @media (min-width: 992px) {
    .activity-list .paging {
      margin-top: 40px; } }

.activity-view .btn-area {
  margin-top: 30px;
  margin-bottom: 50px; }
  .activity-view .btn-area p ~ p {
    margin-top: 10px; }
    @media (min-width: 768px) {
      .activity-view .btn-area p ~ p {
        margin-top: 0; } }
  @media (min-width: 768px) {
    .activity-view .btn-area {
      overflow: hidden;
      margin-top: 25px;
      margin-bottom: 75px; }
      .activity-view .btn-area p:nth-of-type(1) {
        float: left; }
      .activity-view .btn-area p:nth-of-type(2) {
        float: right; } }
  @media (min-width: 992px) {
    .activity-view .btn-area {
      margin-top: 30px;
      margin-bottom: 60px; } }

.activity-write .btn-area {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .activity-write .btn-area {
      text-align: right;
      margin-top: 20px; } }
  @media (min-width: 992px) {
    .activity-write .btn-area {
      margin-top: 35px; } }

.qna-list .board-list .table tbody tr td.reply a span {
  display: inline-block;
  width: 40px;
  height: 18px;
  font-size: 13px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  margin-right: 10px;
  background-color: #f36c21; }
  @media (min-width: 768px) {
    .qna-list .board-list .table tbody tr td.reply a span {
      font-size: 14px;
      height: 20px;
      line-height: 22px; } }
.qna-list .search-form {
  margin-bottom: 45px; }
  @media (min-width: 768px) {
    .qna-list .search-form {
      margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .qna-list .search-form {
      margin-bottom: 50px; } }
.qna-list .btn-area {
  margin-top: 20px; }
  @media (min-width: 768px) {
    .qna-list .btn-area {
      text-align: right;
      margin-top: 50px; } }
  @media (min-width: 992px) {
    .qna-list .btn-area {
      margin-top: 50px; } }
.qna-list .paging {
  margin-top: 35px; }
  @media (min-width: 768px) {
    .qna-list .paging {
      margin-top: 10px; } }
  @media (min-width: 992px) {
    .qna-list .paging {
      margin-top: 40px; } }

.qna-view .btn-area {
  margin-top: 30px;
  margin-bottom: 50px; }
  .qna-view .btn-area p ~ p {
    margin-top: 10px; }
    @media (min-width: 768px) {
      .qna-view .btn-area p ~ p {
        margin-top: 0; } }
  @media (min-width: 768px) {
    .qna-view .btn-area {
      overflow: hidden;
      margin-top: 25px;
      margin-bottom: 75px; }
      .qna-view .btn-area p:nth-of-type(1) {
        float: left; }
      .qna-view .btn-area p:nth-of-type(2) {
        float: right; } }
  @media (min-width: 992px) {
    .qna-view .btn-area {
      margin-top: 30px;
      margin-bottom: 60px; } }

.qna-write .btn-area {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .qna-write .btn-area {
      text-align: right;
      margin-top: 20px; } }
  @media (min-width: 992px) {
    .qna-write .btn-area {
      margin-top: 35px; } }

.pw-confirm .section-content .summary {
  font-size: 12px;
  color: #666;
  line-height: 22px; }
  @media (min-width: 768px) {
    .pw-confirm .section-content .summary {
      font-size: 14px;
      line-height: 23px; } }
.pw-confirm .section-content ul {
  margin-top: 45px;
  padding: 80px 0;
  border-top: 1px solid #02b1a0;
  border-bottom: 1px solid #02b1a0;
  background-color: #f7f7f7; }
  @media (min-width: 768px) {
    .pw-confirm .section-content ul {
      margin-top: 60px; } }
  .pw-confirm .section-content ul li:first-child {
    margin-top: 0 !important; }
  .pw-confirm .section-content ul li.u-pw {
    margin-top: 30px; }
    @media (min-width: 768px) {
      .pw-confirm .section-content ul li.u-pw {
        margin-top: 35px; } }
  .pw-confirm .section-content ul li dl {
    width: 245px;
    font-size: 0;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .pw-confirm .section-content ul li dl {
        width: 348px; } }
    .pw-confirm .section-content ul li dl dt {
      width: 100px;
      display: inline-block;
      font-size: 13px;
      line-height: 30px;
      font-weight: 400;
      color: #303030; }
      .pw-confirm .section-content ul li dl dt label {
        color: #303030; }
      @media (min-width: 768px) {
        .pw-confirm .section-content ul li dl dt {
          width: 125px;
          font-size: 15px; } }
    .pw-confirm .section-content ul li dl dd {
      display: inline-block;
      line-height: 30px;
      font-size: 13px;
      color: #555;
      width: 145px; }
      .pw-confirm .section-content ul li dl dd .form-group .form-control {
        height: 30px;
        border-color: #a2a2a2; }
      @media (min-width: 768px) {
        .pw-confirm .section-content ul li dl dd {
          width: 220px;
          font-size: 15px; } }
.pw-confirm .section-content .btn-area {
  margin-top: 25px; }
  @media (min-width: 768px) {
    .pw-confirm .section-content .btn-area {
      margin-top: 50px; } }

/*# sourceMappingURL=activity.css.map */
