h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.nbg {
  font-family: "NanumBarunGothic", sans-serif; }

.jjmj {
  font-family: 'Jeju Myeongjo', serif; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.founding {
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .founding {
      padding-bottom: 100px; } }
  @media (min-width: 1280px) {
    .founding {
      padding-bottom: 220px; } }
  .founding .section-content p {
    font-size: 12px;
    line-height: 20px;
    color: #666;
    text-align: justify;
    margin-top: 50px;
    padding-bottom: 618px;
    background-image: url(/assets/images/carp/founding_xs_bg.png);
    background-repeat: no-repeat;
    background-position: 50% 100%; }
    @media (min-width: 768px) {
      .founding .section-content p {
        font-size: 16px;
        line-height: 34px;
        padding-bottom: 510px;
        background-image: url(/assets/images/carp/founding_sm_bg.png); } }
    @media (min-width: 992px) {
      .founding .section-content p {
        font-size: 16px;
        line-height: 34px;
        padding-bottom: 510px;
        background-image: url(/assets/images/carp/founding_sm_bg.png); } }
    @media (min-width: 1280px) {
      .founding .section-content p {
        font-size: 16px;
        line-height: 34px;
        padding: 0;
        background: none; } }
  .founding .section-content strong {
    font-size: 17px;
    color: #333;
    margin-top: 85px; }
  @media (min-width: 1280px) {
    .founding .section-content {
      padding-right: 585px;
      background-position: 100% 0;
      background-image: url(/assets/images/carp/founding_lg_bg.png);
      background-repeat: no-repeat; } }

.vision {
  padding-bottom: 0; }
  .vision .section-content .page-summary {
    font-family: "NanumBarunGothic", sans-serif; }
    .vision .section-content .page-summary i {
      color: #02b1a0; }
    @media (min-width: 768px) {
      .vision .section-content .page-summary {
        text-align: center; } }
  .vision .section-content figure {
    margin-top: 45px; }
    .vision .section-content figure .img-responsive {
      margin: 0 auto; }
    @media (min-width: 768px) {
      .vision .section-content figure {
        margin-top: 75px; } }
    @media (min-width: 992px) {
      .vision .section-content figure {
        margin-top: 80px; } }

.mission {
  margin-top: 100px; }
  @media (min-width: 768px) {
    .mission {
      margin-top: 140px; } }
  @media (min-width: 768px) {
    .mission {
      margin-top: 170px; } }
  .mission .section-content ol li div {
    position: relative;
    width: 300px;
    height: 190px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 0 0 20px;
    border: 2px solid #f0f0f0; }
    .mission .section-content ol li div p {
      position: relative;
      display: inline-block;
      font-size: 14px;
      line-height: 24px;
      color: #666;
      z-index: 2;
      padding-left: 60px; }
      .mission .section-content ol li div p i {
        position: absolute;
        top: 4px;
        left: 0;
        display: inline-block;
        font-size: 36px;
        color: #02b1a0;
        font-weight: bold;
        font-family: 'Lato', sans-serif; }
    .mission .section-content ol li div figure {
      position: absolute;
      bottom: 8px;
      right: 18px;
      z-index: 1; }
    @media (min-width: 768px) {
      .mission .section-content ol li div {
        width: 100%;
        margin-bottom: 20px; }
        .mission .section-content ol li div p {
          font-size: 15px;
          line-height: 28px; } }
    @media (min-width: 1280px) {
      .mission .section-content ol li div {
        margin-bottom: 45px; }
        .mission .section-content ol li div p {
          font-size: 16px; } }

.ci {
  padding-bottom: 0; }
  .ci .section-content .summary {
    font-size: 12px;
    color: #666;
    line-height: 24px;
    margin-bottom: 50px; }
    @media (min-width: 768px) {
      .ci .section-content .summary {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 25px; } }
    @media (min-width: 992px) {
      .ci .section-content .summary {
        font-size: 16px;
        line-height: 34px;
        margin-bottom: 65px; } }
  .ci .section-content .logo-title {
    font-size: 16px;
    color: #02b1a0;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .ci .section-content .logo-title {
        font-size: 20px;
        margin-bottom: 25px; } }
  .ci .section-content .ci-logo {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border: 1px solid #f2f2f2;
    background-image: url(/assets/images/carp/ci_bg.gif); }
    @media (min-width: 992px) {
      .ci .section-content .ci-logo {
        margin-bottom: 0; } }
    .ci .section-content .ci-logo .figure {
      line-height: 236px;
      padding: 0 40px; }
      .ci .section-content .ci-logo .figure .img-responsive {
        display: inline-block; }
      @media (min-width: 768px) {
        .ci .section-content .ci-logo .figure {
          padding: 0;
          line-height: 365px; } }
    .ci .section-content .ci-logo .btn-area p ~ p {
      margin-top: 10px; }
    .ci .section-content .ci-logo .btn-area p .btn {
      width: 165px; }
      .ci .section-content .ci-logo .btn-area p .btn .icon-download {
        margin-right: 10px; }
    @media (min-width: 768px) {
      .ci .section-content .ci-logo .btn-area p {
        display: inline-block; }
        .ci .section-content .ci-logo .btn-area p ~ p {
          margin-top: 0;
          margin-left: 8px; } }

@media (min-width: 992px) {
  .symbol {
    padding-bottom: 140px; } }
.symbol .section-header {
  margin-top: 50px; }
.symbol .section-content .summary {
  font-size: 12px;
  color: #666;
  line-height: 24px;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .symbol .section-content .summary {
      font-size: 15px;
      line-height: 30px;
      margin-bottom: 25px; } }
  @media (min-width: 992px) {
    .symbol .section-content .summary {
      font-size: 16px;
      line-height: 34px;
      margin-bottom: 65px; } }
.symbol .section-content .logo-title {
  font-size: 16px;
  color: #02b1a0;
  margin-bottom: 20px; }
  .symbol .section-content .logo-title small {
    font-size: 14px;
    color: #666;
    display: inline !important;
    margin-left: 10px; }
  @media (min-width: 768px) {
    .symbol .section-content .logo-title {
      font-size: 20px;
      margin-bottom: 25px; } }
.symbol .section-content .solid-logo .figure .img-responsive {
  margin: 0 auto; }
@media (min-width: 992px) {
  .symbol .section-content .solid-logo {
    margin-bottom: 90px; } }

.action100 {
  padding-bottom: 100px; }
  @media (min-width: 768px) {
    .action100 {
      padding-bottom: 150px; } }
  .action100 article {
    text-align: center; }
    .action100 article ~ article {
      margin-top: 90px; }
      @media (min-width: 768px) {
        .action100 article ~ article {
          margin-top: 80px; } }
      @media (min-width: 992px) {
        .action100 article ~ article {
          margin-top: 150px; } }
    .action100 article .article-header small {
      display: block;
      font-size: 16px;
      color: #f96900;
      margin-bottom: 15px; }
    .action100 article .article-header .article-title {
      font-size: 24px;
      color: #333;
      line-height: 34px;
      margin-bottom: 20px; }
    .action100 article .article-header .figure {
      margin-bottom: 45px; }
      .action100 article .article-header .figure img {
        display: block;
        margin: 0 auto; }
    @media (min-width: 768px) {
      .action100 article .article-header small {
        font-size: 18px;
        margin-bottom: 20px; }
      .action100 article .article-header .article-title {
        font-size: 34px; }
      .action100 article .article-header .figure {
        margin-bottom: 65px; } }
    @media (min-width: 992px) {
      .action100 article .article-header small {
        font-size: 20px;
        margin-bottom: 15px; }
      .action100 article .article-header .article-title {
        font-size: 36px;
        margin-bottom: 25px; }
      .action100 article .article-header .figure {
        margin-bottom: 70px; } }
    .action100 article .article-content > div {
      width: 300px;
      margin: 0 auto;
      display: block; }
      .action100 article .article-content > div.details {
        background-size: cover;
        background-position: 50% 50%; }
        .action100 article .article-content > div.details.type-1 {
          background-image: url(/assets/images/carp/action100_bg_type1.gif); }
          .action100 article .article-content > div.details.type-1 ol li:before {
            color: #02b1a0; }
        .action100 article .article-content > div.details.type-2 {
          background-image: url(/assets/images/carp/action100_bg_type2.gif); }
        .action100 article .article-content > div.details ol {
          text-align: left;
          counter-reset: section;
          padding: 30px 10px; }
          .action100 article .article-content > div.details ol li {
            position: relative;
            font-size: 14px;
            color: #fff;
            line-height: 24px;
            padding-left: 32px; }
            .action100 article .article-content > div.details ol li ~ li {
              margin-top: 15px; }
            .action100 article .article-content > div.details ol li:before {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 22px;
              height: 22px;
              font-size: 13px;
              line-height: 22px;
              text-align: center;
              font-weight: bold;
              border-radius: 50%;
              color: #e96300;
              background-color: #fff;
              font-family: 'Lato', sans-serif;
              counter-increment: section;
              content: counter(section); }
          @media (min-width: 768px) {
            .action100 article .article-content > div.details ol {
              padding: 0 35px; }
              .action100 article .article-content > div.details ol li {
                font-size: 15px; }
                .action100 article .article-content > div.details ol li ~ li {
                  margin-top: 20px; } }
          @media (min-width: 1280px) {
            .action100 article .article-content > div.details ol {
              padding: 0;
              padding-left: 140px; }
              .action100 article .article-content > div.details ol li {
                font-size: 16px; }
                .action100 article .article-content > div.details ol li ~ li {
                  margin-top: 30px; } }
    @media (min-width: 768px) {
      .action100 article .article-content {
        display: table; }
        .action100 article .article-content > div {
          width: 50%;
          vertical-align: middle;
          display: table-cell; } }

.carp-ceo .page-header {
  margin-bottom: 0; }
  @media (min-width: 768px) {
    .carp-ceo .page-header .page-title {
      margin-bottom: 0; } }

.greeting {
  padding-bottom: 150px; }
  @media (min-width: 1280px) {
    .greeting {
      padding-bottom: 200px; } }
  .greeting .article-header {
    height: 575px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url(/assets/images/carp/greeting_xs_bg.jpg);
    background-repeat: no-repeat;
    background-color: #02b1a0;
    background-position: 50% 100%; }
    .greeting .article-header .ceo-greeting {
      width: 300px;
      height: 575px;
      margin: 0 auto;
      padding: 42px 15px 0; }
      .greeting .article-header .ceo-greeting h4 {
        font-size: 24px;
        color: #fff;
        font-family: 'Jeju Myeongjo', serif;
        line-height: 36px;
        margin-bottom: 25px; }
      .greeting .article-header .ceo-greeting p {
        font-size: 12px;
        color: #fff;
        line-height: 24px; }
    @media (min-width: 768px) {
      .greeting .article-header {
        width: 723px;
        height: 442px;
        background-image: url(/assets/images/carp/greeting_sm_bg.jpg);
        background-color: #fff; }
        .greeting .article-header .ceo-greeting {
          width: 100%;
          height: 100%;
          padding-top: 100px;
          padding-left: 360px;
          margin-bottom: 35px; }
          .greeting .article-header .ceo-greeting h4 {
            font-size: 32px;
            line-height: 48px; }
          .greeting .article-header .ceo-greeting p {
            font-size: 15px;
            line-height: 30px; } }
    @media (min-width: 1280px) {
      .greeting .article-header {
        width: 1170px;
        background-image: url(/assets/images/carp/greeting_lg_bg.jpg);
        margin-bottom: 65px; }
        .greeting .article-header .ceo-greeting {
          padding-top: 170px;
          padding-left: 480px; }
          .greeting .article-header .ceo-greeting h4 {
            font-size: 36px; }
          .greeting .article-header .ceo-greeting p {
            font-size: 16px;
            line-height: 34px; } }
  .greeting .article-content {
    text-align: right; }
    .greeting .article-content .summary {
      font-size: 12px;
      color: #666;
      text-align: left;
      line-height: 24px;
      margin-bottom: 70px; }
      @media (min-width: 768px) {
        .greeting .article-content .summary {
          font-size: 15px;
          line-height: 34px;
          margin-bottom: 80px; } }
      @media (min-width: 1280px) {
        .greeting .article-content .summary {
          font-size: 16px;
          margin-bottom: 105px; } }
    .greeting .article-content small {
      font-size: 13px;
      color: #444;
      font-family: 'Jeju Myeongjo', serif; }
      @media (min-width: 768px) {
        .greeting .article-content small {
          font-size: 15px; } }
    .greeting .article-content h5 {
      font-size: 32px;
      color: #222;
      font-family: 'Jeju Myeongjo', serif;
      letter-spacing: 3px;
      margin-top: 10px; }
      @media (min-width: 768px) {
        .greeting .article-content h5 {
          font-size: 36px;
          margin-top: 20px; } }

.introduce .page-header {
  margin-bottom: 0; }
.introduce section .section-content .page-summary {
  font-size: 22px;
  line-height: 40px; }
  .introduce section .section-content .page-summary i {
    color: #02b1a0; }
  @media (min-width: 768px) {
    .introduce section .section-content .page-summary {
      font-size: 25px;
      line-height: 48px; } }
  @media (min-width: 1280px) {
    .introduce section .section-content .page-summary {
      font-size: 26px; } }
.introduce section .section-content .infancy-ceo {
  margin-top: 35px;
  text-align: right;
  padding-bottom: 380px;
  background-image: url(/assets/images/carp/introduce_bg.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%; }
  .introduce section .section-content .infancy-ceo small {
    font-size: 13px;
    color: #666; }
  @media (min-width: 768px) {
    .introduce section .section-content .infancy-ceo {
      margin-top: 10px; }
      .introduce section .section-content .infancy-ceo small {
        font-size: 15px; } }
  @media (min-width: 1280px) {
    .introduce section .section-content .infancy-ceo {
      z-index: 2;
      margin-top: 40px;
      padding-right: 360px;
      padding-bottom: 162px;
      background: none; } }
@media (min-width: 1280px) {
  .introduce section .section-content {
    padding-top: 30px;
    background-image: url(/assets/images/carp/introduce_bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100%; } }
.introduce section .summary {
  font-size: 12px;
  color: #666;
  line-height: 28px;
  margin-top: 40px; }
  @media (min-width: 768px) {
    .introduce section .summary {
      font-size: 15px;
      line-height: 34px; } }
  @media (min-width: 1280px) {
    .introduce section .summary {
      font-size: 16px; } }

.group .page-header {
  margin-bottom: 0; }
.group article {
  padding-bottom: 120px; }
  @media (min-width: 768px) {
    .group article {
      padding-bottom: 130px; } }
  @media (min-width: 1280px) {
    .group article {
      padding-bottom: 220px; } }
  .group article figure .img-responsive {
    margin: 0 auto; }

.profile .page-header .sub-snb ul {
  display: table; }
  .profile .page-header .sub-snb ul li {
    width: 1%;
    display: table-cell; }
.profile .member {
  padding-bottom: 110px; }
  @media (min-width: 768px) {
    .profile .member {
      padding-bottom: 120px; } }
  @media (min-width: 992px) {
    .profile .member {
      padding-bottom: 140px; } }
  .profile .member .member-list {
    margin-top: 30px;
    margin-bottom: 60px; }
    .profile .member .member-list .member-info {
      text-align: center;
      padding: 30px 0;
      border-bottom: 1px solid #e7e7e7; }
      .profile .member .member-list .member-info:first-child {
        border-top: 1px solid #e7e7e7; }
      .profile .member .member-list .member-info .member-img {
        width: 300px;
        text-align: center;
        margin: 0 auto;
        border: 1px solid #e5e5e5; }
        .profile .member .member-list .member-info .member-img p {
          display: inline-block;
          padding-top: 20px; }
          .profile .member .member-list .member-info .member-img p img {
            max-height: 170px; }
      .profile .member .member-list .member-info .details {
        margin-top: 35px; }
        .profile .member .member-list .member-info .details .name {
          font-size: 20px;
          color: #333;
          margin-bottom: 10px; }
        .profile .member .member-list .member-info .details ul li {
          font-size: 12px;
          color: #666;
          line-height: 26px; }
          .profile .member .member-list .member-info .details ul li a {
            text-decoration: none; }
          .profile .member .member-list .member-info .details ul li i {
            color: #02b1a0;
            margin-right: 5px; }
          .profile .member .member-list .member-info .details ul li dl dt {
            display: inline-block;
            font-weight: 400; }
            .profile .member .member-list .member-info .details ul li dl dt:after {
              content: ":";
              padding: 0 2px 0 4px; }
          .profile .member .member-list .member-info .details ul li dl dd {
            display: inline-block; }
    @media (min-width: 768px) {
      .profile .member .member-list {
        margin-top: 40px; }
        .profile .member .member-list .member-info {
          padding: 30px;
          display: table;
          width: 100%; }
          .profile .member .member-list .member-info .member-img {
            width: 270px;
            display: table-cell; }
            .profile .member .member-list .member-info .member-img p {
              padding-top: 8pz; }
              .profile .member .member-list .member-info .member-img p img {
                height: 215px; }
          .profile .member .member-list .member-info .details {
            display: table-cell;
            text-align: left;
            vertical-align: bottom;
            padding-left: 65px; }
            .profile .member .member-list .member-info .details .name {
              font-size: 24px;
              margin-bottom: 25px; }
            .profile .member .member-list .member-info .details ul li {
              font-size: 13px;
              line-height: 26px; } }
    @media (min-width: 992px) {
      .profile .member .member-list {
        margin-top: 65px; } }

.history .page-header .sub-snb ul li {
  width: 33.33%; }
  .history .page-header .sub-snb ul li:nth-of-type(1) {
    width: 50%; }
  .history .page-header .sub-snb ul li:nth-of-type(2) {
    width: 50%; }
  .history .page-header .sub-snb ul li:nth-of-type(3):after {
    border-right: 1px solid #d9d9d9; }
  .history .page-header .sub-snb ul li:nth-of-type(4):after {
    border-right: 1px solid #d9d9d9; }
@media (min-width: 768px) {
  .history .page-header .sub-snb ul {
    display: table; }
    .history .page-header .sub-snb ul li {
      display: table-cell;
      width: 1% !important; } }
.history .section-header .page-title {
  font-size: 20px;
  color: #666;
  line-height: 30px; }
  .history .section-header .page-title i {
    font-style: normal;
    color: #02b1a0; }
  @media (min-width: 768px) {
    .history .section-header .page-title {
      font-size: 24px;
      line-height: 34px; } }
.history .section-content .history-list > li {
  position: relative;
  padding-left: 50px;
  padding-bottom: 35px;
  border-left: 1px solid #02b1a0; }
  .history .section-content .history-list > li:last-child {
    padding-bottom: 0; }
  .history .section-content .history-list > li:before {
    position: absolute;
    top: 0;
    left: -6px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #02b1a0; }
  .history .section-content .history-list > li .figure {
    vertical-align: top;
    text-align: center; }
    .history .section-content .history-list > li .figure .img-responsive {
      display: inline-block; }
  .history .section-content .history-list > li .details {
    margin-top: 25px; }
    .history .section-content .history-list > li .details ul li dl {
      position: relative; }
      .history .section-content .history-list > li .details ul li dl dt {
        position: absolute;
        top: 3px;
        left: 0;
        font-size: 15px;
        color: #333;
        margin-bottom: 10px; }
      .history .section-content .history-list > li .details ul li dl dd {
        display: inline-block;
        font-size: 13px;
        color: #666;
        line-height: 24px;
        padding-left: 85px;
        margin-bottom: 10px; }
  @media (min-width: 768px) {
    .history .section-content .history-list > li {
      padding-left: 60px;
      padding-bottom: 110px; }
      .history .section-content .history-list > li .figure {
        text-align: left;
        padding-right: 20px; }
      .history .section-content .history-list > li .details {
        margin-top: 0; }
        .history .section-content .history-list > li .details ul li dl dt {
          font-size: 18px; }
        .history .section-content .history-list > li .details ul li dl dd {
          font-size: 15px;
          line-height: 24px;
          padding-left: 140px; } }
  @media (min-width: 992px) {
    .history .section-content .history-list > li {
      padding-left: 70px; }
      .history .section-content .history-list > li .figure {
        padding-right: 60px; } }

.location .page-header .sub-snb ul li {
  width: 33.33%; }
  .location .page-header .sub-snb ul li:nth-of-type(2n + 2):after {
    border-right: 1px solid #d9d9d9; }
  .location .page-header .sub-snb ul li:nth-of-type(3n + 3):after {
    border: 0; }
    @media (min-width: 768px) {
      .location .page-header .sub-snb ul li:nth-of-type(3n + 3):after {
        border-right: 1px solid #d9d9d9; } }
  .location .page-header .sub-snb ul li:last-child:after {
    border-right: 0 !important; }
  @media (min-width: 768px) {
    .location .page-header .sub-snb ul li {
      width: 1%; } }
.location section {
  padding-bottom: 0; }
  .location section ~ section {
    margin-top: 60px; }
  .location section:last-child {
    padding-bottom: 60px; }
    @media (min-width: 768px) {
      .location section:last-child {
        padding-bottom: 100px; } }
    @media (min-width: 992px) {
      .location section:last-child {
        padding-bottom: 220px; } }
  .location section .section-header {
    margin-bottom: 10px; }
    .location section .section-header .company-info {
      margin-top: 15px; }
      .location section .section-header .company-info address {
        font-size: 12px;
        color: #666;
        line-height: 18px; }
      .location section .section-header .company-info ul {
        font-size: 0; }
        .location section .section-header .company-info ul li {
          display: inline-block;
          font-size: 12px;
          color: #666;
          line-height: 18px; }
          .location section .section-header .company-info ul li:first-child {
            margin-right: 15px; }
    @media (min-width: 768px) {
      .location section .section-header {
        margin-bottom: 35px; }
        .location section .section-header .title {
          display: inline-block;
          margin-right: 20px; }
        .location section .section-header .company-info {
          display: inline-block;
          margin-top: 0; }
          .location section .section-header .company-info address {
            display: inline;
            font-size: 14px; }
          .location section .section-header .company-info ul {
            display: inline-block; }
            .location section .section-header .company-info ul li {
              font-size: 14px; }
              .location section .section-header .company-info ul li:first-child {
                margin-right: 10px; } }
  .location section .section-content .details {
    margin-top: 15px; }
    @media (min-width: 768px) {
      .location section .section-content .details {
        margin-top: 30px; } }

/*# sourceMappingURL=carp.css.map */
