@import 'common';


//창립목적
.founding {
    padding-bottom: 30px;
    @media(min-width: $sm) {
        padding-bottom: 100px;
    }
    @media(min-width: $lg) {
        padding-bottom: 220px;
    }
    .section-content {
        p {
            font-size: 12px;
            line-height: 20px;
            color: #666;
            text-align: justify;
            margin-top: 50px;
            padding-bottom: 618px;
            background-image: url(/assets/images/carp/founding_xs_bg.png);
            background-repeat: no-repeat;
            background-position: 50% 100%;
            @media(min-width: $sm) {
                font-size: 16px;
                line-height: 34px;
                padding-bottom: 510px;
                background-image: url(/assets/images/carp/founding_sm_bg.png);
            }
            @media(min-width: $md) {
                font-size: 16px;
                line-height: 34px;
                padding-bottom: 510px;
                background-image: url(/assets/images/carp/founding_sm_bg.png);
            }
            @media(min-width: $lg) {
                font-size: 16px;
                line-height: 34px;
                padding: 0;
                background: none;
            }
        }
        strong {
            font-size: 17px;
            color: #333;
            margin-top: 85px;
        }
        @media(min-width: $lg) {
            padding-right: 585px;
            background-position: 100% 0;
            background-image: url(/assets/images/carp/founding_lg_bg.png);
            background-repeat: no-repeat;
        }
    }
}

//비전
.vision {
    padding-bottom: 0;
    .section-content {
        .page-summary {
            @include nbg();
            i {
                color: $kcolor;
            }
            @media(min-width: $sm) {
                text-align: center;
            }
        }
        figure {
            margin-top: 45px;
            .img-responsive {
                margin: 0 auto;
            }
            @media(min-width: $sm) {
                margin-top: 75px;
            }
            @media(min-width: $md) {
                margin-top: 80px;
            }
        }
    }
}
.mission {
    margin-top: 100px;
    @media(min-width: $sm) {
        margin-top: 140px;
    }
    @media(min-width: $sm) {
        margin-top: 170px;
    }
    .section-content {
        ol {
            li {
                div {
                    position: relative;
                    width: 300px;
                    height: 190px;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    padding: 20px 0 0 20px;
                    border: 2px solid #f0f0f0;
                    p {
                        position: relative;
                        display: inline-block;
                        font-size: 14px;
                        line-height: 24px;
                        color: #666;
                        z-index: 2;
                        padding-left: 60px;
                        i {
                            position: absolute;
                            top: 4px;
                            left: 0;
                            display: inline-block;
                            font-size: 36px;
                            color: $kcolor;
                            font-weight: bold;
                            @include lato;
                        }
                    }
                    figure {
                        position: absolute;
                        bottom: 8px;
                        right: 18px;
                        z-index: 1;
                    }
                    @media(min-width: $sm) {
                        width: 100%;
                        margin-bottom: 20px;
                        p {
                            font-size: 15px;
                            line-height: 28px;
                        }
                    }
                    @media(min-width: $lg) {
                        margin-bottom: 45px;
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

// CI
.ci {
    padding-bottom: 0;
    .section-content {
        .summary {
            font-size: 12px;
            color: #666;
            line-height: 24px;
            margin-bottom: 50px;
            @media(min-width: $sm) {
                font-size: 15px;
                line-height: 30px;
                margin-bottom: 25px;
            }
            @media(min-width: $md) {
                font-size: 16px;
                line-height: 34px;
                margin-bottom: 65px;
            }
        }
        .logo-title {
            font-size: 16px;
            color: #02b1a0;
            margin-bottom: 20px;
            @media(min-width: $sm) {
               font-size: 20px; 
                margin-bottom: 25px;
            }
        }
        .ci-logo {
            text-align: center;
            padding-bottom: 30px;
            margin-bottom: 30px;
            border: 1px solid #f2f2f2;
            background-image: url(/assets/images/carp/ci_bg.gif);
            @media(min-width: $md) {
                margin-bottom: 0;
            }
            .figure {
                line-height: 236px;
                padding: 0 40px;
                .img-responsive {
                    display: inline-block;
                }
                @media(min-width: $sm) {
                    padding: 0;
                    line-height: 365px;
                }
            }
            .btn-area {
                p {
                    ~ p {
                        margin-top: 10px;
                    }
                    .btn {
                        width: 165px;
                        .icon-download {
                            margin-right: 10px;
                        }
                    }
                }
                @media(min-width: $sm) {
                    p {
                        display: inline-block;
                        ~ p {
                            margin-top: 0;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }
}
.symbol {
    @media(min-width: $md) {
        padding-bottom: 140px;
    }
    .section-header {
        margin-top: 50px;
    }
    .section-content {
        .summary {
            font-size: 12px;
            color: #666;
            line-height: 24px;
            margin-bottom: 50px;
            @media(min-width: $sm) {
                font-size: 15px;
                line-height: 30px;
                margin-bottom: 25px;
            }
            @media(min-width: $md) {
                font-size: 16px;
                line-height: 34px;
                margin-bottom: 65px;
            }
        }
        .logo-title {
            font-size: 16px;
            color: #02b1a0;
            margin-bottom: 20px;
            small {
                font-size: 14px;
                color: #666;
                display: inline !important;
                margin-left: 10px;
            }
            @media(min-width: $sm) {
               font-size: 20px; 
                margin-bottom: 25px;
            }
        }
        .solid-logo {
            
            .figure {
                .img-responsive {
                    margin: 0 auto;
                }
            }
            @media(min-width: $md) {
                margin-bottom: 90px;
            }
        }
    }
}







//향후나아갈길
.action100 {
    padding-bottom: 100px;
    @media(min-width: $sm) {
        padding-bottom: 150px;
    }
    article {
        text-align: center;
        ~ article {
            margin-top: 90px;
            @media(min-width: $sm) {
                margin-top: 80px;
            }
            @media(min-width: $md) {
                margin-top: 150px;
            }
        }
        .article-header {
            small {
                display: block;
                font-size: 16px;
                color: #f96900;
                margin-bottom: 15px;
            }
            .article-title {
                font-size: 24px;
                color: #333;
                line-height: 34px;
                margin-bottom: 20px;
            }
            .figure {
                margin-bottom: 45px;;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            @media(min-width: $sm) {
                small {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                .article-title {
                    font-size: 34px;
                }
                .figure {
                    margin-bottom: 65px;
                }
            }
            @media(min-width: $md) {
                small {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
                .article-title {
                    font-size: 36px;
                    margin-bottom: 25px;
                }
                .figure {
                    margin-bottom: 70px;
                }
            }
        }
        .article-content {
            > div {
                width: 300px;
                margin: 0 auto;
                display: block;
                &.details {
                    background-size: cover;
                    background-position: 50% 50%;
                    &.type-1 {
                        background-image: url(/assets/images/carp/action100_bg_type1.gif);
                        ol {
                            li {
                                &:before {
                                    color: $kcolor;
                                }
                            }
                        }
                    }
                    &.type-2 {
                        background-image: url(/assets/images/carp/action100_bg_type2.gif);
                    }
                    ol {
                        text-align: left;
                        counter-reset: section;
                        padding: 30px 10px;
                        li {
                            position: relative;
                            font-size: 14px;
                            color: #fff;
                            line-height: 24px;
                            padding-left: 32px;
                            ~ li {
                                margin-top: 15px;
                            }
                            &:before {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: block;
                                width: 22px;
                                height: 22px;
                                font-size: 13px;
                                line-height: 22px;
                                text-align: center;
                                font-weight: bold;
                                border-radius: 50%;
                                color: #e96300;
                                background-color: #fff;
                                @include lato();
                                counter-increment: section;
                                content: counter(section);
                            }
                        }
                        @media(min-width: $sm) {
                            padding: 0 35px;
                            li {
                                font-size: 15px;
                                ~ li {
                                    margin-top: 20px;
                                }
                            }
                        }
                        @media(min-width: $lg) {
                            padding: 0;
                            padding-left: 140px;
                            li {
                                font-size: 16px;
                                ~ li {
                                    margin-top: 30px;
                                }
                            }
                        }
                    }
                }
            }
            @media(min-width: $sm) {
                display: table;
                > div {
                    width: 50%;
                    vertical-align: middle;
                    display: table-cell;
                }
            }
        }
    }
}

//회장 인사말
.carp-ceo {
    .page-header {
        margin-bottom: 0;
        .page-title {
            @media(min-width: $sm) {
                margin-bottom: 0;
            }
        }
    }
}
.greeting {
    padding-bottom: 150px;
    @media(min-width: $lg) {
        padding-bottom: 200px;
    }
    .article-header {
        height: 575px;
        margin: 0 auto;
        margin-bottom: 30px;
        background-image: url(/assets/images/carp/greeting_xs_bg.jpg);
        background-repeat: no-repeat;
        background-color: #02b1a0;
        background-position: 50% 100%;
        .ceo-greeting {
            width: 300px;
            height: 575px;
            margin: 0 auto;
            padding: 42px 15px 0;
            h4 {
                font-size: 24px;
                color: #fff;
                @include jjmj();
                line-height: 36px;
                margin-bottom: 25px;
            }
            p {
                font-size: 12px;
                color: #fff;
                line-height: 24px;
            }
        }
        @media(min-width: $sm) {
            width: 723px;
            height: 442px;
            background-image: url(/assets/images/carp/greeting_sm_bg.jpg);
            background-color: #fff;
            .ceo-greeting {
                width: 100%;
                height: 100%;
                padding-top: 100px;
                padding-left: 360px;
                margin-bottom: 35px;
                h4 {
                    font-size: 32px;
                    line-height: 48px;
                }
                p {
                    font-size: 15px;
                    line-height: 30px;
                }
            }
        }
        @media(min-width: $lg) {
            width: 1170px;
            background-image: url(/assets/images/carp/greeting_lg_bg.jpg);
            margin-bottom: 65px;
            .ceo-greeting {
                padding-top: 170px;
                padding-left: 480px;
                h4 {
                    font-size: 36px;
                }
                p {
                    font-size: 16px;
                    line-height: 34px;
                }
            }
        }
    }
    .article-content {
        text-align: right;
        .summary {
            font-size: 12px;
            color: #666;
            text-align: left;
            line-height: 24px;
            margin-bottom: 70px;
            @media(min-width: $sm) {
                font-size: 15px;
                line-height: 34px;
                margin-bottom: 80px;
            }
            @media(min-width: $lg) {
                font-size: 16px;
                margin-bottom: 105px;
            }
        }
        small {
            font-size: 13px;
            color: #444;
            @include jjmj();
            @media(min-width: $sm) {
                font-size: 15px;
            }
        }
        h5 {
            font-size: 32px;
            color: #222;
            @include jjmj();
            letter-spacing: 3px;
            margin-top: 10px;
            @media(min-width: $sm) {
                font-size: 36px;
                margin-top: 20px;
            }
        }
    }
}

//설립자 소개
.introduce {
    .page-header {
        margin-bottom: 0;
    }
    section {
        .section-content {
            .page-summary {
                font-size: 22px;
                line-height: 40px;
                i {
                    color: $kcolor;
                }
                @media(min-width: $sm) {
                    font-size: 25px;
                    line-height: 48px;
                }
                @media(min-width: $lg) {
                    font-size: 26px;
                }
            }
            .infancy-ceo {
                margin-top: 35px;
                text-align: right;
                padding-bottom: 380px;
                background-image: url(/assets/images/carp/introduce_bg.jpg);
                background-repeat: no-repeat;
                background-position: 100% 100%;
                small {
                    font-size: 13px;
                    color: #666;
                }
                @media(min-width: $sm) {
                    margin-top: 10px;
                    small {
                        font-size: 15px;
                    }
                }
                @media(min-width: $lg) {
                    z-index: 2;
                    margin-top: 40px;
                    padding-right: 360px;
                    padding-bottom: 162px;
                    background: none;
                }
            }
            @media(min-width: $lg) {
                padding-top: 30px;
                background-image: url(/assets/images/carp/introduce_bg.jpg);
                background-repeat: no-repeat;
                background-position: 50% 100%;
            }
        }
        .summary {
            font-size: 12px;
            color: #666;
            line-height: 28px;
            margin-top: 40px;
            @media(min-width: $sm) {
                font-size: 15px;
                line-height: 34px;
            }
            @media(min-width: $lg) {
                font-size: 16px;
            }
        }
    }
}


// 조직도
.group {
    .page-header {
        margin-bottom: 0;
    }
    article {
        padding-bottom: 120px;
        @media(min-width: $sm) {
            padding-bottom: 130px;
        }
        @media(min-width: $lg) {
            padding-bottom: 220px;
        }
        figure {
            .img-responsive {
                margin: 0 auto;
            }
        }
    }
}

//프로필 게시판
.profile {
    .page-header {
        .sub-snb {
            ul {
                display: table;
                li {
                    width: 1%;
                    display: table-cell;
                }
            }
        }
    }
    .member {
        padding-bottom: 110px;
        @media(min-width: $sm) {
            padding-bottom: 120px;
        }
        @media(min-width: $md) {
            padding-bottom: 140px;
        }
        .member-list {
            margin-top: 30px;
            margin-bottom: 60px;
            .member-info {
                text-align: center;
                padding: 30px 0;
                border-bottom: 1px solid #e7e7e7;
                &:first-child {
                    border-top: 1px solid #e7e7e7;
                }
                .member-img {
                    width: 300px;
                    text-align: center;
                    margin: 0 auto;
                    border: 1px solid #e5e5e5;
                    p {
                        display: inline-block;
                        padding-top: 20px;
                        img {
                            max-height: 170px;
                        }
                    }
                }
                .details {
                    margin-top: 35px;
                    .name {
                        font-size: 20px;
                        color: #333;
                        margin-bottom: 10px;
                    }
                    ul {
                        li {
                            font-size: 12px;
                            color: #666;
                            line-height: 26px;
                            a {
                                text-decoration: none;
                            }
                            i {
                                color: $kcolor;
                                margin-right: 5px;
                            }
                            dl {
                                dt {
                                    display: inline-block;
                                    font-weight: 400;
                                    &:after {
                                        content: ":";
                                        padding: 0 2px 0 4px;
                                    }
                                }
                                dd {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
            @media(min-width: $sm) {
                margin-top: 40px;
                .member-info {
                    padding: 30px;
                    display: table;
                    width: 100%;
                    .member-img {
                        width: 270px;
                        display: table-cell;
                        p {
                            padding-top: 8pz;
                            img {
                                height: 215px;
                            }
                        }
                    }
                    .details {
                        display: table-cell;
                        text-align: left;
                        vertical-align: bottom;
                        padding-left: 65px;
                        .name {
                            font-size: 24px;
                            margin-bottom: 25px;
                        }
                        ul {
                            li {
                                font-size: 13px;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
            @media(min-width: $md) {
                margin-top: 65px;
            }
        }
    }
}

// 연혁
.history {
    .page-header {
        .sub-snb {
            ul {
                li {
                    width: 33.33%;
                    &:nth-of-type(1) {
                        width: 50%;
                    }
                    &:nth-of-type(2) {
                        width: 50%;
                    }
                    &:nth-of-type(3) {
                        &:after {
                            border-right: 1px solid #d9d9d9;
                        }
                    }
                    &:nth-of-type(4) {
                        &:after {
                            border-right: 1px solid #d9d9d9;
                        }
                    }   
                }
                @media(min-width: $sm) {
                    display: table;
                    li {
                        display: table-cell;
                        width: 1% !important;
                    }
                }
            }
        }
    }
    .section-header {
        .page-title {
            font-size: 20px;
            color: #666;
            line-height: 30px;
            i {
                font-style: normal;
                color: $kcolor;
            }
            @media(min-width: $sm) {
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
    .section-content {
        .history-list {
            > li {
                position: relative;
                padding-left: 50px;
                padding-bottom: 35px;
                border-left: 1px solid $kcolor;
                &:last-child {
                    padding-bottom: 0;
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: -6px;
                    content: "";
                    display: block;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: $kcolor;
                }
                .figure {
                    vertical-align: top;
                    text-align: center;
                    .img-responsive {
                        display: inline-block;
                    }
                }
                .details {
                    margin-top: 25px;
                    ul {
                        li {
                            dl {
                                position: relative;
                                dt {
                                    position: absolute;
                                    top: 3px;
                                    left: 0;
                                    font-size: 15px;
                                    color: #333;
                                    margin-bottom: 10px;
                                }
                                dd {
                                    display: inline-block;
                                    font-size: 13px;
                                    color: #666;
                                    line-height: 24px;
                                    padding-left: 85px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
                @media(min-width: $sm) {
                    padding-left: 60px;
                    padding-bottom: 110px;
                    .figure {
                        text-align: left;
                        padding-right: 20px;
                    }
                    .details {
                        margin-top: 0;
                        ul {
                            li {
                                dl {
                                    dt {
                                        font-size: 18px;
                                    }
                                    dd {
                                        font-size: 15px;
                                        line-height: 24px;
                                        padding-left: 140px;
                                    }
                                }
                            }
                        }
                    }
                }
                @media(min-width: $md) {
                    padding-left: 70px;
                    .figure {
                        padding-right: 60px;
                    }
                }
            }
        }
    }
}

// 오시는 길
.location {
    .page-header {
        .sub-snb {
            ul {
                li {
                    width: 33.33%;
                    &:nth-of-type(2n + 2) {
                        &:after {
                            border-right: 1px solid #d9d9d9;
                        }
                    }
                    &:nth-of-type(3n + 3) {
                        &:after {
                            border: 0;
                            @media(min-width: $sm) {
                                border-right: 1px solid #d9d9d9;
                            }
                        }
                    }
                    &:last-child {
                        &:after {
                            border-right: 0 !important;
                        }
                    }
                    @media(min-width: $sm) {
                        width: 1%;
                    }
                }
            }
        }
    }
    section {
        padding-bottom: 0;
        ~ section {
            margin-top: 60px;
        }
        &:last-child {
            padding-bottom: 60px;
            @media(min-width: $sm) {
                padding-bottom: 100px;
            }
            @media(min-width: $md) {
                padding-bottom: 220px;
            }
        }
        .section-header {
            margin-bottom: 10px;
            .company-info {
                margin-top: 15px;
                address {
                    font-size: 12px;
                    color: #666;
                    line-height: 18px;
                }
                ul {
                    font-size: 0;
                    li {
                        display: inline-block;
                        font-size: 12px;
                        color: #666;
                        line-height: 18px;
                        &:first-child {
                            margin-right: 15px;
                        }
                    }
                }
            }
            @media(min-width: $sm) {
                margin-bottom: 35px;
                .title {
                    display: inline-block;
                    margin-right: 20px;
                }
                .company-info {
                    display: inline-block;
                    margin-top: 0;
                    address {
                        display: inline;
                        font-size: 14px;
                    }
                    ul {
                        display: inline-block;
                        li {
                            font-size: 14px;
                            &:first-child {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        .section-content {
            .details {
                margin-top: 15px;
                @media(min-width: $sm) {
                    margin-top: 30px;
                }
            }
        }
    }
}


































