h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.nbg {
  font-family: "NanumBarunGothic", sans-serif; }

.jjmj {
  font-family: 'Jeju Myeongjo', serif; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.cms #policy {
  margin-top: 110px; }
  @media (min-width: 768px) {
    .cms #policy {
      margin-top: 130px; } }
  @media (min-width: 992px) {
    .cms #policy {
      margin-top: 150px; } }

.page-header {
  margin-bottom: 0; }
  .page-header .header-title {
    background-image: url(/assets/images/cms/page_header_xs.jpg); }
    @media (min-width: 768px) {
      .page-header .header-title {
        background-image: url(/assets/images/cms/page_header_lg.jpg); } }

.notice-list .search-form {
  margin-bottom: 45px; }
  @media (min-width: 768px) {
    .notice-list .search-form {
      margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .notice-list .search-form {
      margin-bottom: 50px; } }
.notice-list .btn-area {
  margin-top: 20px; }
  @media (min-width: 768px) {
    .notice-list .btn-area {
      text-align: right;
      margin-top: 50px; } }
  @media (min-width: 992px) {
    .notice-list .btn-area {
      margin-top: 50px; } }
.notice-list .paging {
  margin-top: 35px; }
  @media (min-width: 768px) {
    .notice-list .paging {
      margin-top: 10px; } }
  @media (min-width: 992px) {
    .notice-list .paging {
      margin-top: 40px; } }

.notice-view .btn-area {
  margin-top: 30px;
  margin-bottom: 50px; }
  .notice-view .btn-area p ~ p {
    margin-top: 10px; }
    @media (min-width: 768px) {
      .notice-view .btn-area p ~ p {
        margin-top: 0; } }
  @media (min-width: 768px) {
    .notice-view .btn-area {
      overflow: hidden;
      margin-top: 25px;
      margin-bottom: 75px; }
      .notice-view .btn-area p:nth-of-type(1) {
        float: left; }
      .notice-view .btn-area p:nth-of-type(2) {
        float: right; } }
  @media (min-width: 992px) {
    .notice-view .btn-area {
      margin-top: 30px;
      margin-bottom: 60px; } }

.notice-write .btn-area {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .notice-write .btn-area {
      text-align: right;
      margin-top: 20px; } }
  @media (min-width: 992px) {
    .notice-write .btn-area {
      margin-top: 35px; } }

.cms-sponsor section {
  padding-bottom: 0; }
  .cms-sponsor section ~ section {
    margin-top: 70px; }
    @media (min-width: 768px) {
      .cms-sponsor section ~ section {
        margin-top: 120px; } }
    @media (min-width: 992px) {
      .cms-sponsor section ~ section {
        margin-top: 150px; } }
  .cms-sponsor section .section-content {
    margin-top: 50px; }
    @media (min-width: 768px) {
      .cms-sponsor section .section-content {
        margin-top: 60px; } }
    @media (min-width: 992px) {
      .cms-sponsor section .section-content {
        margin-top: 80px; } }
.cms-sponsor .private-support .section-content .figure .img-responsive {
  margin: 0 auto; }
.cms-sponsor .private-support .section-content h5 {
  font-size: 20px;
  color: #333;
  line-height: 30px;
  font-weight: 400;
  font-family: 'Jeju Myeongjo', serif;
  margin-top: 40px; }
  .cms-sponsor .private-support .section-content h5 i {
    font-style: normal;
    color: #02b1a0; }
  @media (min-width: 768px) {
    .cms-sponsor .private-support .section-content h5 {
      font-size: 24px;
      line-height: 40px;
      margin-top: 8px; } }
  @media (min-width: 992px) {
    .cms-sponsor .private-support .section-content h5 {
      font-size: 30px;
      line-height: 48px;
      margin-top: 0; } }
  @media (min-width: 1280px) {
    .cms-sponsor .private-support .section-content h5 {
      margin-top: 20px; } }
.cms-sponsor .private-support .section-content .summary {
  font-size: 12px;
  color: #666;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .cms-sponsor .private-support .section-content .summary {
      font-size: 15px;
      line-height: 34px;
      margin-top: 50px;
      margin-bottom: 55px; } }
  @media (min-width: 992px) {
    .cms-sponsor .private-support .section-content .summary {
      font-size: 16px;
      margin-top: 70px;
      margin-bottom: 60px; } }
.cms-sponsor .private-support .section-content figure .img-responsive {
  margin: 0 auto; }
.cms-sponsor .method-supporting .section-content ul {
  font-size: 0; }
  .cms-sponsor .method-supporting .section-content ul li {
    position: relative;
    text-align: center;
    padding-bottom: 70px; }
    .cms-sponsor .method-supporting .section-content ul li:after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -15px;
      margin-top: -40px;
      content: url(/assets/images/cms/method_arrow_bottom.png); }
    .cms-sponsor .method-supporting .section-content ul li ~ li {
      margin-top: 30px; }
    .cms-sponsor .method-supporting .section-content ul li:last-child {
      padding: 0; }
      .cms-sponsor .method-supporting .section-content ul li:last-child:after {
        content: "";
        margin: 0; }
    .cms-sponsor .method-supporting .section-content ul li figure img {
      display: inline-block; }
    .cms-sponsor .method-supporting .section-content ul li figure figcaption {
      font-size: 16px;
      color: #666;
      line-height: 24px;
      margin-top: 30px; }
  @media (min-width: 768px) {
    .cms-sponsor .method-supporting .section-content ul li {
      display: inline-block;
      width: 33.33%;
      padding-bottom: 0; }
      .cms-sponsor .method-supporting .section-content ul li ~ li {
        margin-top: 0; }
      .cms-sponsor .method-supporting .section-content ul li:after {
        top: 60px;
        left: 100%;
        margin: 0;
        margin-left: -20px;
        content: url(/assets/images/cms/method_arrow_right.png); } }
.cms-sponsor .method-supporting .section-content .btn-area {
  margin-top: 50px; }
  @media (min-width: 768px) {
    .cms-sponsor .method-supporting .section-content .btn-area p .btn {
      width: 270px; } }
  @media (min-width: 992px) {
    .cms-sponsor .method-supporting .section-content .btn-area {
      margin-top: 80px; } }
.cms-sponsor .support-service .section-content ul {
  font-size: 0; }
  .cms-sponsor .support-service .section-content ul li {
    position: relative;
    text-align: center;
    vertical-align: top;
    padding-bottom: 70px; }
    .cms-sponsor .support-service .section-content ul li:after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -15px;
      margin-top: -40px;
      content: url(/assets/images/cms/service_arrow_bottom.png); }
    .cms-sponsor .support-service .section-content ul li ~ li {
      margin-top: 30px; }
    .cms-sponsor .support-service .section-content ul li:last-child {
      padding: 0; }
      .cms-sponsor .support-service .section-content ul li:last-child:after {
        content: "";
        margin: 0; }
    .cms-sponsor .support-service .section-content ul li figure img {
      display: inline-block; }
    .cms-sponsor .support-service .section-content ul li figure figcaption {
      font-size: 16px;
      color: #666;
      line-height: 24px;
      margin-top: 30px; }
  @media (min-width: 768px) {
    .cms-sponsor .support-service .section-content ul li {
      display: inline-block;
      width: 50%;
      padding-bottom: 0; }
      .cms-sponsor .support-service .section-content ul li ~ li {
        margin-top: 0; }
      .cms-sponsor .support-service .section-content ul li:after {
        top: 60px;
        left: 100%;
        margin: 0;
        margin-left: -20px;
        content: url(/assets/images/cms/service_arrow_right.png); } }

/*# sourceMappingURL=cms.css.map */
