@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.nbg {
  font-family: "NanumBarunGothic", sans-serif; }

.jjmj {
  font-family: 'Jeju Myeongjo', serif; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.cms #policy {
  margin-top: 110px; }
  @media (min-width: 768px) {
    .cms #policy {
      margin-top: 130px; } }
  @media (min-width: 992px) {
    .cms #policy {
      margin-top: 150px; } }

.page-header {
  margin-bottom: 0; }
  .page-header .header-title {
    background-image: url(/assets/images/cms/page_header_xs.jpg); }
    @media (min-width: 768px) {
      .page-header .header-title {
        background-image: url(/assets/images/cms/page_header_lg.jpg); } }

.notice-list .search-form {
  margin-bottom: 45px; }
  @media (min-width: 768px) {
    .notice-list .search-form {
      margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .notice-list .search-form {
      margin-bottom: 50px; } }
.notice-list .btn-area {
  margin-top: 20px; }
  @media (min-width: 768px) {
    .notice-list .btn-area {
      text-align: right;
      margin-top: 50px; } }
  @media (min-width: 992px) {
    .notice-list .btn-area {
      margin-top: 50px; } }
.notice-list .paging {
  margin-top: 35px; }
  @media (min-width: 768px) {
    .notice-list .paging {
      margin-top: 10px; } }
  @media (min-width: 992px) {
    .notice-list .paging {
      margin-top: 40px; } }

.notice-view .btn-area {
  margin-top: 30px;
  margin-bottom: 50px; }
  .notice-view .btn-area p ~ p {
    margin-top: 10px; }
    @media (min-width: 768px) {
      .notice-view .btn-area p ~ p {
        margin-top: 0; } }
  @media (min-width: 768px) {
    .notice-view .btn-area {
      overflow: hidden;
      margin-top: 25px;
      margin-bottom: 75px; }
      .notice-view .btn-area p:nth-of-type(1) {
        float: left; }
      .notice-view .btn-area p:nth-of-type(2) {
        float: right; } }
  @media (min-width: 992px) {
    .notice-view .btn-area {
      margin-top: 30px;
      margin-bottom: 60px; } }

.notice-write .btn-area {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .notice-write .btn-area {
      text-align: right;
      margin-top: 20px; } }
  @media (min-width: 992px) {
    .notice-write .btn-area {
      margin-top: 35px; } }

.cms-sponsor section {
  padding-bottom: 0; }
  .cms-sponsor section ~ section {
    margin-top: 70px; }
    @media (min-width: 768px) {
      .cms-sponsor section ~ section {
        margin-top: 120px; } }
    @media (min-width: 992px) {
      .cms-sponsor section ~ section {
        margin-top: 150px; } }
  .cms-sponsor section .section-content {
    margin-top: 50px; }
    @media (min-width: 768px) {
      .cms-sponsor section .section-content {
        margin-top: 60px; } }
    @media (min-width: 992px) {
      .cms-sponsor section .section-content {
        margin-top: 80px; } }
.cms-sponsor .private-support .section-content .figure .img-responsive {
  margin: 0 auto; }
.cms-sponsor .private-support .section-content h5 {
  font-size: 20px;
  color: #333;
  line-height: 30px;
  font-weight: 400;
  font-family: 'Jeju Myeongjo', serif;
  margin-top: 40px; }
  .cms-sponsor .private-support .section-content h5 i {
    font-style: normal;
    color: #02b1a0; }
  @media (min-width: 768px) {
    .cms-sponsor .private-support .section-content h5 {
      font-size: 24px;
      line-height: 40px;
      margin-top: 8px; } }
  @media (min-width: 992px) {
    .cms-sponsor .private-support .section-content h5 {
      font-size: 30px;
      line-height: 48px;
      margin-top: 0; } }
  @media (min-width: 1280px) {
    .cms-sponsor .private-support .section-content h5 {
      margin-top: 20px; } }
.cms-sponsor .private-support .section-content .summary {
  font-size: 12px;
  color: #666;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .cms-sponsor .private-support .section-content .summary {
      font-size: 15px;
      line-height: 34px;
      margin-top: 50px;
      margin-bottom: 55px; } }
  @media (min-width: 992px) {
    .cms-sponsor .private-support .section-content .summary {
      font-size: 17px;
      margin-top: 70px;
      margin-bottom: 60px; } }
.cms-sponsor .private-support .section-content figure .img-responsive {
  margin: 0 auto; }
.cms-sponsor .method-supporting .section-content ul {
  font-size: 0; }
  .cms-sponsor .method-supporting .section-content ul li {
    position: relative;
    text-align: center;
    padding-bottom: 70px; }
    .cms-sponsor .method-supporting .section-content ul li:after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -15px;
      margin-top: -40px;
      content: url(/assets/images/cms/method_arrow_bottom.png); }
    .cms-sponsor .method-supporting .section-content ul li ~ li {
      margin-top: 30px; }
    .cms-sponsor .method-supporting .section-content ul li:last-child {
      padding: 0; }
      .cms-sponsor .method-supporting .section-content ul li:last-child:after {
        content: "";
        margin: 0; }
    .cms-sponsor .method-supporting .section-content ul li figure img {
      display: inline-block; }
    .cms-sponsor .method-supporting .section-content ul li figure figcaption {
      font-size: 17px;
      color: #666;
      line-height: 24px;
      margin-top: 30px; }
  @media (min-width: 768px) {
    .cms-sponsor .method-supporting .section-content ul li {
      display: inline-block;
      width: 33.33%;
      padding-bottom: 0; }
      .cms-sponsor .method-supporting .section-content ul li ~ li {
        margin-top: 0; }
      .cms-sponsor .method-supporting .section-content ul li:after {
        top: 60px;
        left: 100%;
        margin: 0;
        margin-left: -20px;
        content: url(/assets/images/cms/method_arrow_right.png); } }
.cms-sponsor .method-supporting .section-content .btn-area {
  margin-top: 50px; }
  @media (min-width: 768px) {
    .cms-sponsor .method-supporting .section-content .btn-area p .btn {
      width: 270px; } }
  @media (min-width: 992px) {
    .cms-sponsor .method-supporting .section-content .btn-area {
      margin-top: 80px; } }
.cms-sponsor .support-service .section-content ul {
  font-size: 0; }
  .cms-sponsor .support-service .section-content ul li {
    position: relative;
    text-align: center;
    vertical-align: top;
    padding-bottom: 70px; }
    .cms-sponsor .support-service .section-content ul li:after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -15px;
      margin-top: -40px;
      content: url(/assets/images/cms/service_arrow_bottom.png); }
    .cms-sponsor .support-service .section-content ul li ~ li {
      margin-top: 30px; }
    .cms-sponsor .support-service .section-content ul li:last-child {
      padding: 0; }
      .cms-sponsor .support-service .section-content ul li:last-child:after {
        content: "";
        margin: 0; }
    .cms-sponsor .support-service .section-content ul li figure img {
      display: inline-block; }
    .cms-sponsor .support-service .section-content ul li figure figcaption {
      font-size: 17px;
      color: #666;
      line-height: 24px;
      margin-top: 30px; }
  @media (min-width: 768px) {
    .cms-sponsor .support-service .section-content ul li {
      display: inline-block;
      width: 50%;
      padding-bottom: 0; }
      .cms-sponsor .support-service .section-content ul li ~ li {
        margin-top: 0; }
      .cms-sponsor .support-service .section-content ul li:after {
        top: 60px;
        left: 100%;
        margin: 0;
        margin-left: -20px;
        content: url(/assets/images/cms/service_arrow_right.png); } }
.cms-sponsor .temporary-support .section-content {
  width: 300px;
  height: 640px;
  text-align: center;
  margin: 0 auto;
  padding: 71px 6px 0;
  background-repeat: no-repeat;
  background-image: url(/assets/images/cms/temporary_xs_bg.jpg);
  background-size: 300px auto;
  background-position: 0 0; }
  .cms-sponsor .temporary-support .section-content h5 {
    font-size: 36px;
    line-height: 40px;
    color: #333;
    font-family: 'Nanum Pen Script', serif;
    margin-bottom: 30px; }
  .cms-sponsor .temporary-support .section-content p {
    font-size: 13px;
    color: #333;
    line-height: 24px;
    margin-bottom: 40px; }
  .cms-sponsor .temporary-support .section-content .account {
    width: 100%;
    height: 76px;
    padding: 14px 0;
    background-color: #02b1a0;
    border-radius: 30px; }
    .cms-sponsor .temporary-support .section-content .account dt {
      font-size: 13px;
      color: #fff;
      font-weight: 400;
      line-height: 24px; }
      .cms-sponsor .temporary-support .section-content .account dt:after {
        content: ":";
        padding: 0 3px; }
    .cms-sponsor .temporary-support .section-content .account dd {
      font-size: 13px;
      color: #fff;
      font-weight: 400;
      line-height: 24px; }
  @media (min-width: 768px) {
    .cms-sponsor .temporary-support .section-content {
      text-align: right;
      padding: 50px 26px 0 0;
      width: 724px;
      height: 332px;
      background-image: url(/assets/images/cms/temporary_sm_bg.jpg);
      background-size: 724px auto; }
      .cms-sponsor .temporary-support .section-content h5 {
        font-size: 40px;
        line-height: 36px; }
      .cms-sponsor .temporary-support .section-content p {
        font-size: 15px;
        margin-bottom: 40px; }
      .cms-sponsor .temporary-support .section-content .account {
        width: 456px;
        float: right;
        text-align: center;
        height: 43px;
        padding: 0;
        font-size: 0; }
        .cms-sponsor .temporary-support .section-content .account dt {
          display: inline-block;
          font-size: 14px;
          line-height: 43px; }
        .cms-sponsor .temporary-support .section-content .account dd {
          display: inline-block;
          font-size: 14px;
          line-height: 43px; } }
  @media (min-width: 1280px) {
    .cms-sponsor .temporary-support .section-content {
      padding: 57px 55px 0 0;
      width: 1169px;
      height: 322px;
      background-image: url(/assets/images/cms/temporary_lg_bg.jpg);
      background-size: 1169px auto; }
      .cms-sponsor .temporary-support .section-content p {
        font-size: 17px; }
      .cms-sponsor .temporary-support .section-content .account {
        width: 537px; }
        .cms-sponsor .temporary-support .section-content .account dt {
          font-size: 17px; }
        .cms-sponsor .temporary-support .section-content .account dd {
          font-size: 17px; } }

.application-list .search-form {
  margin-bottom: 45px; }
  @media (min-width: 768px) {
    .application-list .search-form {
      margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .application-list .search-form {
      margin-bottom: 50px; } }
.application-list .btn-area {
  margin-top: 20px; }
  .application-list .btn-area p .btn {
    width: 140px; }
  @media (min-width: 768px) {
    .application-list .btn-area {
      text-align: right;
      margin-top: 50px; } }
  @media (min-width: 992px) {
    .application-list .btn-area {
      margin-top: 50px; } }
.application-list .paging {
  margin-top: 35px; }
  @media (min-width: 768px) {
    .application-list .paging {
      margin-top: 10px; } }
  @media (min-width: 992px) {
    .application-list .paging {
      margin-top: 40px; } }

.application-upload .btn-area {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .application-upload .btn-area {
      text-align: right;
      margin-top: 20px; } }
  @media (min-width: 992px) {
    .application-upload .btn-area {
      margin-top: 35px; } }

.application section {
  padding-bottom: 0; }
  .application section ~ section {
    margin-top: 60px; }
    @media (min-width: 768px) {
      .application section ~ section {
        margin-top: 70px; } }
    @media (min-width: 992px) {
      .application section ~ section {
        margin-top: 100px; } }
  .application section .title small {
    font-size: 12px;
    color: #666;
    margin-left: 10px; }
    .application section .title small:before {
      content: "("; }
    .application section .title small:after {
      content: ")"; }
  .application section .table-wrap .table {
    border: 0;
    border-top: 3px solid #02b1a0;
    border-bottom: 1px solid #6f848e; }
    .application section .table-wrap .table tbody tr:last-child th {
      border-bottom: 0; }
    .application section .table-wrap .table tbody tr:last-child td {
      border-bottom: 0; }
    .application section .table-wrap .table tbody tr th {
      width: 95px;
      font-size: 12px;
      color: #444;
      font-weight: 400;
      vertical-align: middle;
      padding-left: 10px;
      border: 0;
      border-bottom: 1px solid #d6d6d6;
      background-color: #f5f5f5; }
      .application section .table-wrap .table tbody tr th label {
        color: #444; }
      .application section .table-wrap .table tbody tr th.v-top {
        padding-top: 20px;
        vertical-align: top; }
        @media (min-width: 768px) {
          .application section .table-wrap .table tbody tr th.v-top {
            padding-top: 0;
            vertical-align: middle; } }
      @media (min-width: 768px) {
        .application section .table-wrap .table tbody tr th.agreement {
          padding-top: 25px;
          vertical-align: top; } }
      @media (min-width: 768px) {
        .application section .table-wrap .table tbody tr th {
          width: 140px;
          padding-left: 18px;
          font-size: 15px; } }
      @media (min-width: 1280px) {
        .application section .table-wrap .table tbody tr th {
          width: 156px; } }
    .application section .table-wrap .table tbody tr td {
      font-size: 12px;
      color: #666;
      height: 56px;
      vertical-align: middle;
      padding: 10px 0 10px 20px;
      border: 0;
      border-bottom: 1px solid #d6d6d6; }
      .application section .table-wrap .table tbody tr td label {
        color: #444; }
      .application section .table-wrap .table tbody tr td .form-group input {
        font-size: 12px; }
        @media (min-width: 768px) {
          .application section .table-wrap .table tbody tr td .form-group input {
            font-size: 13px; } }
      .application section .table-wrap .table tbody tr td .form-group .form-control {
        height: 32px;
        border-radius: 3px;
        border-color: #d6d6d6; }
      @media (min-width: 768px) {
        .application section .table-wrap .table tbody tr td {
          font-size: 13px;
          padding-left: 30px;
          padding-right: 30px; } }
  @media (min-width: 768px) {
    .application section.receiving-company .section-content .table tbody tr td {
      font-size: 15px; } }
  .application section.automatic-withdrawal .section-content .table tbody tr th small {
    display: block;
    font-size: 11px;
    color: #444;
    opacity: .5;
    line-height: 16px; }
  .application section.automatic-withdrawal .section-content .table tbody tr td label {
    vertical-align: middle; }
    .application section.automatic-withdrawal .section-content .table tbody tr td label input {
      box-shadow: none; }
    .application section.automatic-withdrawal .section-content .table tbody tr td label input[type="checkbox"] {
      position: relative;
      top: 3px; }
  @media (min-width: 768px) {
    .application section.automatic-withdrawal .section-content .table tbody tr td .form-control {
      width: 404px; } }
  .application section.automatic-withdrawal .section-content .table tbody tr td.applicant .form-group label {
    margin-top: 8px; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.applicant .form-group label input {
      width: 40px;
      border: 1px solid #fff; }
  @media (min-width: 768px) {
    .application section.automatic-withdrawal .section-content .table tbody tr td.applicant .form-group .form-control {
      display: inline-block;
      width: 140px; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.applicant .form-group label {
      margin-top: 0;
      margin-left: 20px; } }
  .application section.automatic-withdrawal .section-content .table tbody tr td.contact .form-group .form-control {
    width: 100%; }
  .application section.automatic-withdrawal .section-content .table tbody tr td.amount-paid .form-group label {
    line-height: 26px; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.amount-paid .form-group label input[type="checkbox"] {
      margin-right: 5px; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.amount-paid .form-group label input[type="text"] {
      width: 90px;
      border: 1px solid #fff; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.amount-paid .form-group label:nth-of-type(2) {
      position: relative;
      top: 2px; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.amount-paid .form-group label:nth-of-type(3) {
      display: block; }
  @media (min-width: 768px) {
    .application section.automatic-withdrawal .section-content .table tbody tr td.amount-paid .form-group label {
      line-height: 25px; }
      .application section.automatic-withdrawal .section-content .table tbody tr td.amount-paid .form-group label:nth-of-type(2) {
        margin-right: 50px; }
      .application section.automatic-withdrawal .section-content .table tbody tr td.amount-paid .form-group label:nth-of-type(3) {
        display: inline-block; } }
  .application section.automatic-withdrawal .section-content .table tbody tr td.date-payment .form-group label {
    display: block; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.date-payment .form-group label ~ label {
      margin-top: 8px; }
  .application section.automatic-withdrawal .section-content .table tbody tr td.date-payment .form-group .form-control {
    display: inline-block;
    width: 60px; }
  @media (min-width: 768px) {
    .application section.automatic-withdrawal .section-content .table tbody tr td.date-payment .form-group {
      display: inline-block; }
      .application section.automatic-withdrawal .section-content .table tbody tr td.date-payment .form-group label {
        display: inline-block; }
        .application section.automatic-withdrawal .section-content .table tbody tr td.date-payment .form-group label ~ label {
          margin-top: 0; }
        .application section.automatic-withdrawal .section-content .table tbody tr td.date-payment .form-group label:nth-of-type(2) {
          margin-left: 100px; }
        .application section.automatic-withdrawal .section-content .table tbody tr td.date-payment .form-group label:nth-of-type(3) {
          margin-left: 10px; } }
  .application section.automatic-withdrawal .section-content .table tbody tr td.method-payment .form-group label {
    display: block; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.method-payment .form-group label input[type="checkbox"] {
      margin-right: 5px; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.method-payment .form-group label ~ label {
      margin-top: 8px; }
  @media (min-width: 768px) {
    .application section.automatic-withdrawal .section-content .table tbody tr td.method-payment .form-group label {
      display: inline-block; }
      .application section.automatic-withdrawal .section-content .table tbody tr td.method-payment .form-group label ~ label {
        margin-top: 0;
        margin-left: 50px; } }
  @media (min-width: 768px) {
    .application section.automatic-withdrawal .section-content .table tbody tr td.depositor .form-group .form-control {
      width: 140px; } }
  .application section.automatic-withdrawal .section-content .table tbody tr td.birthday .form-group .attention {
    margin-top: 8px;
    color: #444;
    font-size: 11px; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.birthday .form-group .attention:before {
      content: "※";
      margin-right: 5px; }
  @media (min-width: 1280px) {
    .application section.automatic-withdrawal .section-content .table tbody tr td.birthday .form-group .form-control {
      display: inline-block; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.birthday .form-group .attention {
      display: inline-block;
      margin-left: 15px; } }
  .application section.automatic-withdrawal .section-content .table tbody tr td.phone .form-group .form-control {
    display: inline-block;
    width: 28.5%; }
  @media (min-width: 768px) {
    .application section.automatic-withdrawal .section-content .table tbody tr td.phone .form-group .form-control {
      width: 60px; } }
  .application section.automatic-withdrawal .section-content .table tbody tr td.agreement {
    padding-top: 20px;
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      .application section.automatic-withdrawal .section-content .table tbody tr td.agreement {
        padding-top: 30px;
        padding-bottom: 30px; } }
    .application section.automatic-withdrawal .section-content .table tbody tr td.agreement .square-title {
      font-size: 12px;
      color: #444;
      margin-bottom: 30px; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.agreement dl {
      overflow: hidden; }
      .application section.automatic-withdrawal .section-content .table tbody tr td.agreement dl dt {
        float: left;
        clear: both;
        color: #444;
        font-weight: 400;
        line-height: 24px; }
        .application section.automatic-withdrawal .section-content .table tbody tr td.agreement dl dt:before {
          content: "◆";
          margin-right: 3px; }
        .application section.automatic-withdrawal .section-content .table tbody tr td.agreement dl dt:after {
          content: ":";
          margin: 0 3px; }
        @media (min-width: 768px) {
          .application section.automatic-withdrawal .section-content .table tbody tr td.agreement dl dt {
            position: relative;
            padding-left: 18px; }
            .application section.automatic-withdrawal .section-content .table tbody tr td.agreement dl dt:before {
              position: absolute;
              top: 0;
              left: 0; } }
      .application section.automatic-withdrawal .section-content .table tbody tr td.agreement dl dd {
        color: #444;
        font-weight: 400;
        line-height: 24px; }
        .application section.automatic-withdrawal .section-content .table tbody tr td.agreement dl dd label {
          position: relative;
          top: -1px; }
          .application section.automatic-withdrawal .section-content .table tbody tr td.agreement dl dd label input[type="checkbox"] {
            margin-left: 2px; }
          .application section.automatic-withdrawal .section-content .table tbody tr td.agreement dl dd label ~ label {
            margin-left: 10px; }
        @media (min-width: 768px) {
          .application section.automatic-withdrawal .section-content .table tbody tr td.agreement dl dd.space {
            position: relative;
            padding-left: 75px; } }
    .application section.automatic-withdrawal .section-content .table tbody tr td.agreement p {
      color: #444;
      font-weight: 400;
      line-height: 24px; }
      .application section.automatic-withdrawal .section-content .table tbody tr td.agreement p:before {
        content: "◆";
        margin-right: 3px; }
      @media (min-width: 768px) {
        .application section.automatic-withdrawal .section-content .table tbody tr td.agreement p {
          position: relative;
          padding-left: 18px; }
          .application section.automatic-withdrawal .section-content .table tbody tr td.agreement p:before {
            position: absolute;
            top: 0;
            left: 0; } }
    .application section.automatic-withdrawal .section-content .table tbody tr td.agreement span {
      color: #444;
      line-height: 24px; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.agreement ul li {
      color: #444;
      line-height: 24px; }
      .application section.automatic-withdrawal .section-content .table tbody tr td.agreement ul li label input[type="checkbox"] {
        margin-left: 2px; }
      .application section.automatic-withdrawal .section-content .table tbody tr td.agreement ul li label ~ label {
        margin-left: 10px; }
    .application section.automatic-withdrawal .section-content .table tbody tr td.agreement .form-group {
      margin-top: 30px; }
      .application section.automatic-withdrawal .section-content .table tbody tr td.agreement .form-group label input[type="checkbox"] {
        margin-left: 5px; }
      .application section.automatic-withdrawal .section-content .table tbody tr td.agreement .form-group label ~ label {
        margin-left: 15px; }
      @media (min-width: 768px) {
        .application section.automatic-withdrawal .section-content .table tbody tr td.agreement .form-group {
          margin-top: 20px; } }
  .application section.automatic-withdrawal .section-content strong {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    color: #333;
    line-height: 28px;
    text-align: center;
    margin: 35px 0 50px; }
    @media (min-width: 768px) {
      .application section.automatic-withdrawal .section-content strong {
        font-size: 17px;
        line-height: 32px;
        margin: 55px 0 80px; } }
    @media (min-width: 992px) {
      .application section.automatic-withdrawal .section-content strong {
        font-size: 18px;
        margin: 30px 0 40px; } }
  .application section.automatic-withdrawal .section-content .signature {
    text-align: right; }
    .application section.automatic-withdrawal .section-content .signature .date {
      font-size: 13px;
      color: #444;
      margin-bottom: 15px; }
      .application section.automatic-withdrawal .section-content .signature .date span {
        display: inline-block;
        padding-left: 25px; }
        .application section.automatic-withdrawal .section-content .signature .date span.year {
          padding-left: 15px; }
      @media (min-width: 768px) {
        .application section.automatic-withdrawal .section-content .signature .date {
          font-size: 15px; }
          .application section.automatic-withdrawal .section-content .signature .date span {
            padding-left: 30px; }
            .application section.automatic-withdrawal .section-content .signature .date span.year {
              padding-left: 20px; } }
    .application section.automatic-withdrawal .section-content .signature dl ~ dl {
      margin-top: 20px; }
    .application section.automatic-withdrawal .section-content .signature dl dt {
      display: inline-block;
      font-size: 13px;
      color: #444;
      font-weight: 400; }
      .application section.automatic-withdrawal .section-content .signature dl dt:after {
        content: ":"; }
    .application section.automatic-withdrawal .section-content .signature dl dd {
      display: inline-block;
      font-size: 13px;
      color: #444;
      font-weight: 400;
      padding-left: 100px; }
    @media (min-width: 768px) {
      .application section.automatic-withdrawal .section-content .signature dl dt {
        font-size: 15px; }
      .application section.automatic-withdrawal .section-content .signature dl dd {
        font-size: 15px; } }
    .application section.automatic-withdrawal .section-content .signature .note {
      font-size: 11px;
      display: inline-block;
      margin-top: 5px; }
  .application section.automatic-withdrawal .btn-area {
    margin-top: 50px; }
    .application section.automatic-withdrawal .btn-area p ~ p {
      margin-top: 10px; }
    .application section.automatic-withdrawal .btn-area p .btn.btn-gray {
      background-color: #979797; }
    @media (min-width: 768px) {
      .application section.automatic-withdrawal .btn-area {
        margin-top: 75px; }
        .application section.automatic-withdrawal .btn-area p {
          display: inline-block; }
          .application section.automatic-withdrawal .btn-area p ~ p {
            margin-top: 0;
            margin-left: 6px; }
          .application section.automatic-withdrawal .btn-area p .btn-sm {
            width: 140px; }
          .application section.automatic-withdrawal .btn-area p .btn-lg {
            width: 140px; } }
    @media (min-width: 992px) {
      .application section.automatic-withdrawal .btn-area {
        margin-top: 50px; } }
.application .decimal-list {
  margin-top: 40px;
  padding: 35px 25px;
  background-color: #f5f5f5; }
  .application .decimal-list > li {
    font-size: 12px;
    line-height: 24px;
    color: #666;
    list-style: decimal;
    list-style-position: inside; }
    .application .decimal-list > li ~ li {
      margin-top: 10px; }
  @media (min-width: 768px) {
    .application .decimal-list {
      margin-top: 70px;
      padding: 55px 25px 55px 42px; }
      .application .decimal-list > li {
        font-size: 15px;
        line-height: 30px;
        list-style-position: outside; }
        .application .decimal-list > li ~ li {
          margin-top: 0; } }
  @media (min-width: 1280px) {
    .application .decimal-list {
      padding: 45px 100px; }
      .application .decimal-list > li {
        list-style-position: inside; } }

/*# sourceMappingURL=cms.css.map */
