@import 'common';

html {
	min-width: 320px;
	height: 100%;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	&.nav-opened {
		overflow: hidden;
	}
	@media (min-width: $lg) {
		&.nav-opened {
			overflow: auto;
		}
	}
}

body {
	padding-top: 60px;
	min-width: 320px;
	@include nbg();
	font-size: 12px;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	&.nav-opened {
		overflow: hidden;
	}
	@media (min-width: $sm) {
		padding-top: 73px;
		font-size: 16px;
	}
	@media (min-width: $lg) {
		padding-top: 115px;
		&.nav-opened {
			overflow: auto;
		}
	}
}

#top-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: $kcolor;
	ul {
		li {
			float: left;
			a {
				line-height: 30px;
				color: #fff;
			}
		}
		&.sns {
			float: left;
			li {
				a {
					display: block;
					width: 30px;
					height: 30px;
					text-decoration: none;
					text-align: center;
					&:hover, &:focus {
						background-color: rgba(#fff, .2);
					}
					&.fb {
						&:before {
							font-family: "fontello";
							content: "\F30C";
							line-height: 30px;
							font-size: 15px;
						}
					}
					&.dc {
						padding-top: 4px;
						&:before {
							content: url(/assets/images/ico_daum_cafe.png);
						}
					}
				}
			}
		}
		&.util {
			float: right;
			li {
				a {
					font-size: 12px;
				}
				& + li {
					&:before {
						margin-left: 10px;
						margin-right: 10px;
						content: "·";
						color: #fff;
					}
				}
			}
		}
	}
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	border-top: 3px solid $kcolor;
	box-shadow: 0 1px 10px rgba(#000, .1);
	background-color: #fff;
	.logo {
		position: absolute;
		top: 15px;
		width: 167px;
		height: 27px;
		a {
			display: block;
			width: 100%;
			height: 100%;
			background-image: url(/assets/images/logo.png);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;

		}
	}
	.btn-nav-open {
		position: absolute;
		top: 11px;
		right: 5px;
		color: $kcolor;
		padding: 0;
		width: 35px;
		height: 35px;
		border: 0;
		//background-color: blue;
		text-decoration: none;
		text-align: center;
		&:before {
			font-family: "fontello";
			content: "\E800";
			font-size: 30px;
			line-height: 35px;
		}
	}
	@media (min-width: $sm) {
		height: 73px;
		border-top-width: 8px;
		.logo {
			top: 18px;
			width: 178px;
			height: 28px;
		}
		.btn-nav-open {
			right: 10px;
			width: 45px;
			height: 45px;
			&:before {
				font-size: 40px;
				line-height: 45px;
			}
		}
	}
	@media (min-width: $lg) {
		top: 30px;
		height: 85px;
		border-top-width: 0;
		.logo {
			top: 25px;
			width: 230px;
			height: 36px;
		}
		.nav {
			float: right;
			margin-top: 35px;
			> ul {
				> li {
					float: left;
					padding-left: 30px;
					padding-right: 30px;
					> a {
						position: relative;
						display: block;
						height: 50px;
						color: #333;
						text-decoration: none;
						> span {
							position: absolute;
							bottom: 0;
							left: 50%;
							width: 0;
							height: 2px;
							background-color: $kcolor;
							@include transition();
						}
					}
					> div {
						opacity: 0;
						position: fixed;
						top: -60px;
						left: 0;
						width: 100%;
						height: 60px;
						background-color: #f4f4f4;
						> .container {
							> ul {
								opacity: 0;
								position: relative;
								top: 10px;
								margin-left: 347px;
								> li {
									float: left;
									> a {
										display: block;
										font-size: 14px;
										line-height: 60px;
										&:hover, &:focus {
											color: $kcolor;
										}
									}
									&.active {
										> a {
											color: $kcolor;
										}
									}
									& + li {
										margin-left: 40px;
									}
								}
							}
						}
					}
					&:nth-of-type(2) {
						ul {
							margin-left: 447px !important;
						}
					}
					&:nth-of-type(3) {
						ul {
							margin-left: 430px !important;
						}
					}
					&:nth-of-type(4) {
						ul {
							margin-left: 695px !important;
						}
					}
					&:nth-of-type(5) {
						ul {
							margin-left: 826px !important;
						}
					}
					&:nth-of-type(6) {
						ul {
							margin-left: 400px !important;
						}
					}
					&:nth-of-type(7) {
						ul {
							margin-left: 980px !important;
						}
					}
					&.active {
						> a {
							> span {
								margin-left: -50%;
								width: 100%;
							}
						}
						> div {
							opacity: 1;
							top: auto;
							> .container {
								> ul {
									opacity: 1;
									top: 0;
									@include transition();
								}
							}
						}
					}
				}
			}
		}
	}
}

#nav-side {
	z-index: 9999;
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, .75);
	.nav-content {
		position: absolute;
		top: 0;
		right: -100%;
		padding-top: 63px;
		max-width: 280px;
		width: 100%;
		height: 100%;
		background-color: #fff;
		.nav-header {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 63px;
			//border-bottom: 1px solid #ccc;
			background-color: $kcolor;
			.logo {
				position: absolute;
				top: 16px;
				left: 10px;
				width: 162px;
				height: 25px;
				a {
					display: block;
					width: 100%;
					height: 100%;
					background-image: url(/assets/images/logo_white.png);
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: cover;
				}
			}
			.btn-nav-close {
				position: absolute;
				top: 10px;
				right: 0;
				padding: 10px;
				border: 0;
			}
		}
		.nav-body {
			overflow: auto;
			height: 100%;
			.quick {
				> ul {
					overflow: hidden;
					> li {
						float: left;
						width: 33.33%;
						height: 120px;
						> a {
							display: block;
							padding-top: 80px;
							width: 100%;
							height: 100%;
							text-align: center;
							text-decoration: none;
							background-repeat: no-repeat;
							background-size: auto 40px;
							background-position: 50% 25px;
							&.login {
								background-image: url(/assets/images/ico_lock.png);
							}
							&.join {
								background-image: url(/assets/images/ico_people_plus.png);
							}
							&.modify {
								background-image: url(/assets/images/ico_doc_pencil.png);
							}
						}
					}
				}
			}
			.nav {
				> ul {
					> li {
						border-bottom: 1px solid rgba(#000, .2);
						> a {
							display: block;
							padding-left: 20px;
							padding-right: 10px;
							padding-top: 12px;
							padding-bottom: 10px;
							line-height: 23px;
							font-size: 13px;
							font-weight: bold;
							text-decoration: none;
							color: #333;
							&:after {
								float: right;
								font-family: "fontello", sans-serif;
								content: "\e804";
								color: $kcolor;
							}
						}
						> ul {
							display: none;
							> li {
								border-top: 1px solid #ccc;
								> a {
									display: block;
									padding-left: 20px;
									padding-right: 10px;
									padding-top: 12px;
									padding-bottom: 10px;
									font-size: 12px;
									line-height: 23px;
									text-decoration: none;
									color: #777;
									background-color: #f6f6f6;
									&:before {
										margin-right: 5px;
										content: "-";
									}
								}
								&.selected {
									> ul {
										display: block;
									}
								}
							}
						}
						&:first-child {
							border-top: 1px solid rgba(#000, .2);
						}
						&.selected {
							border-bottom: 2px solid $kcolor;
							> a {
								color: #fff;
								background-color: $kcolor;
								&:after {
									content: "\e805";
									color: #fff;
								}
							}
							> ul {
								display: block;
								> li {
									&:first-child {
										border-top: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@media (min-width: $sm) {
		.nav-content {
			padding-top: 80px;
			max-width: 630px;
			.nav-header {
				height: 80px;
				.logo {
					top: 25px;
					left: 25px;
					width: 191px;
					height: 30px;
					a {
						background-size: 100% auto;
					}
				}
				.btn-nav-close {
					top: 20px;
					right: 10px;
				}
			}
			.nav-body {
				.quick {
					> ul {
						> li {
							height: 175px;
							> a {
								padding-top: 115px;
								font-size: 16px;
								background-size: auto 50px;
								background-position: 50% 45px;
							}
						}
					}
				}
				.nav {
					> ul {
						> li {
							> a {
								padding-top: 17px;
								padding-bottom: 15px;
								padding-left: 30px;
								padding-right: 20px;
								font-size: 16px;
							}
							> ul {
								> li {
									> a {
										padding-top: 17px;
										padding-bottom: 15px;
										padding-left: 30px;
										padding-right: 20px;
										font-size: 14px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

body.nav-opened {
	#nav-side {
		right: 0;
		.nav-content {
			right: 0;
			@include transition();
		}
	}
}

#content {
	min-height: 500px;
	background-color: #eee;
}

#policy {
	height: 46px;
	background-color: #67676c;
	ul {
		overflow: hidden;
		padding-top: 8px;
		margin: 0 auto;
		max-width: 300px;
		li {
			float: left;
			padding-left: 12px;
			padding-right: 12px;
			a {
				color: #fff;
				line-height: 30px;
			}
		}
	}
	@media (min-width: $sm) {
		ul {
			max-width: none;
			text-align: center;
			li {
				float: none;
				display: inline;
				a {
					font-size: 13px;
				}
			}
		}
	}
	@media (min-width: $lg) {
		ul {
			text-align: left;
			li {
				padding-left: 0;
				padding-right: 0;
				& + li {
					margin-left: 25px;
				}
			}
		}
	}
}

#footer {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #34343b;
	color: rgba(#fff, .7);
	line-height: 22px;
	text-align: center;
	border-top: 1px solid rgba(#fff, .1);
	a {
		color: rgba(#fff, .7);
	}
	address {
		line-height: 22px;
		word-wrap: normal;
		word-break: keep-all;
	}
	@media (min-width: $sm) {
		padding-top: 50px;
		padding-bottom: 50px;
		font-size: 13px;
		.contact {
			li {
				display: inline;
				& + li {
					&:before {
						margin-left: 10px;
						margin-right: 10px;
						content: "·";
					}
				}
			}
		}
		.copyright {
			font-size: 12px;
		}
	}
	@media (min-width: $lg) {
		text-align: left;
	}
}
