@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.nbg {
  font-family: "NanumBarunGothic", sans-serif; }

.jjmj {
  font-family: 'Jeju Myeongjo', serif; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

html {
  min-width: 320px;
  height: 100%;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch; }
  html.nav-opened {
    overflow: hidden; }
  @media (min-width: 1280px) {
    html.nav-opened {
      overflow: auto; } }

body {
  padding-top: 60px;
  min-width: 320px;
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 12px;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch; }
  body.nav-opened {
    overflow: hidden; }
  @media (min-width: 768px) {
    body {
      padding-top: 73px;
      font-size: 16px; } }
  @media (min-width: 1280px) {
    body {
      padding-top: 115px; }
      body.nav-opened {
        overflow: auto; } }

#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 999;
  background-color: #02b1a0; }
  #top-nav ul li {
    float: left; }
    #top-nav ul li a {
      line-height: 30px;
      color: #fff; }
  #top-nav ul.sns {
    float: left; }
    #top-nav ul.sns li a {
      display: block;
      width: 30px;
      height: 30px;
      text-decoration: none;
      text-align: center; }
      #top-nav ul.sns li a:hover, #top-nav ul.sns li a:focus {
        background-color: rgba(255, 255, 255, 0.2); }
      #top-nav ul.sns li a.fb:before {
        font-family: "fontello";
        content: "\F30C";
        line-height: 30px;
        font-size: 15px; }
      #top-nav ul.sns li a.dc {
        padding-top: 4px; }
        #top-nav ul.sns li a.dc:before {
          content: url(/assets/images/ico_daum_cafe.png); }
  #top-nav ul.util {
    float: right; }
    #top-nav ul.util li a {
      font-size: 12px; }
    #top-nav ul.util li + li:before {
      margin-left: 10px;
      margin-right: 10px;
      content: "·";
      color: #fff; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 3px solid #02b1a0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 999; }
  #header .logo {
    position: absolute;
    top: 15px;
    width: 167px;
    height: 27px; }
    #header .logo a {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(/assets/images/logo.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
  #header .btn-nav-open {
    position: absolute;
    top: 11px;
    right: 5px;
    color: #02b1a0;
    padding: 0;
    width: 35px;
    height: 35px;
    border: 0;
    text-decoration: none;
    text-align: center; }
    #header .btn-nav-open:before {
      font-family: "fontello";
      content: "\E800";
      font-size: 30px;
      line-height: 35px; }
  @media (min-width: 768px) {
    #header {
      height: 73px;
      border-top-width: 8px; }
      #header .logo {
        top: 18px;
        width: 178px;
        height: 28px; }
      #header .btn-nav-open {
        right: 10px;
        width: 45px;
        height: 45px; }
        #header .btn-nav-open:before {
          font-size: 40px;
          line-height: 45px; } }
  @media (min-width: 1280px) {
    #header {
      top: 30px;
      height: 85px;
      border-top-width: 0; }
      #header .logo {
        top: 25px;
        width: 230px;
        height: 36px; }
      #header .nav {
        float: right;
        margin-top: 35px; }
        #header .nav > ul > li {
          float: left;
          padding-left: 30px;
          padding-right: 30px; }
          #header .nav > ul > li > a {
            position: relative;
            display: block;
            height: 50px;
            color: #333;
            text-decoration: none; }
            #header .nav > ul > li > a > span {
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 2px;
              background-color: #02b1a0;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
          #header .nav > ul > li > div {
            opacity: 0;
            position: fixed;
            top: -60px;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: #f4f4f4; }
            #header .nav > ul > li > div > .container > ul {
              opacity: 0;
              position: relative;
              top: 10px;
              margin-left: 347px; }
              #header .nav > ul > li > div > .container > ul > li {
                float: left; }
                #header .nav > ul > li > div > .container > ul > li > a {
                  display: block;
                  font-size: 14px;
                  line-height: 60px; }
                  #header .nav > ul > li > div > .container > ul > li > a:hover, #header .nav > ul > li > div > .container > ul > li > a:focus {
                    color: #02b1a0; }
                #header .nav > ul > li > div > .container > ul > li.active > a {
                  color: #02b1a0; }
                #header .nav > ul > li > div > .container > ul > li + li {
                  margin-left: 40px; }
          #header .nav > ul > li:nth-of-type(2) ul {
            margin-left: 447px !important; }
          #header .nav > ul > li:nth-of-type(3) ul {
            margin-left: 430px !important; }
          #header .nav > ul > li:nth-of-type(4) ul {
            margin-left: 695px !important; }
          #header .nav > ul > li:nth-of-type(5) ul {
            margin-left: 826px !important; }
          #header .nav > ul > li:nth-of-type(6) ul {
            margin-left: 400px !important; }
          #header .nav > ul > li:nth-of-type(7) ul {
            margin-left: 980px !important; }
          #header .nav > ul > li.active > a > span {
            margin-left: -50%;
            width: 100%; }
          #header .nav > ul > li.active > div {
            opacity: 1;
            top: auto; }
            #header .nav > ul > li.active > div > .container > ul {
              opacity: 1;
              top: 0;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; } }

#nav-side {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); }
  #nav-side .nav-content {
    position: absolute;
    top: 0;
    right: -100%;
    padding-top: 63px;
    max-width: 280px;
    width: 100%;
    height: 100%;
    background-color: #fff; }
    #nav-side .nav-content .nav-header {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 63px;
      background-color: #02b1a0; }
      #nav-side .nav-content .nav-header .logo {
        position: absolute;
        top: 16px;
        left: 10px;
        width: 162px;
        height: 25px; }
        #nav-side .nav-content .nav-header .logo a {
          display: block;
          width: 100%;
          height: 100%;
          background-image: url(/assets/images/logo_white.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover; }
      #nav-side .nav-content .nav-header .btn-nav-close {
        position: absolute;
        top: 10px;
        right: 0;
        padding: 10px;
        border: 0; }
    #nav-side .nav-content .nav-body {
      overflow: auto;
      height: 100%; }
      #nav-side .nav-content .nav-body .quick > ul {
        overflow: hidden; }
        #nav-side .nav-content .nav-body .quick > ul > li {
          float: left;
          width: 33.33%;
          height: 120px; }
          #nav-side .nav-content .nav-body .quick > ul > li > a {
            display: block;
            padding-top: 80px;
            width: 100%;
            height: 100%;
            text-align: center;
            text-decoration: none;
            background-repeat: no-repeat;
            background-size: auto 40px;
            background-position: 50% 25px; }
            #nav-side .nav-content .nav-body .quick > ul > li > a.login {
              background-image: url(/assets/images/ico_lock.png); }
            #nav-side .nav-content .nav-body .quick > ul > li > a.join {
              background-image: url(/assets/images/ico_people_plus.png); }
            #nav-side .nav-content .nav-body .quick > ul > li > a.modify {
              background-image: url(/assets/images/ico_doc_pencil.png); }
      #nav-side .nav-content .nav-body .nav > ul > li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
        #nav-side .nav-content .nav-body .nav > ul > li > a {
          display: block;
          padding-left: 20px;
          padding-right: 10px;
          padding-top: 12px;
          padding-bottom: 10px;
          line-height: 23px;
          font-size: 13px;
          font-weight: bold;
          text-decoration: none;
          color: #333; }
          #nav-side .nav-content .nav-body .nav > ul > li > a:after {
            float: right;
            font-family: "fontello", sans-serif;
            content: "\e804";
            color: #02b1a0; }
        #nav-side .nav-content .nav-body .nav > ul > li > ul {
          display: none; }
          #nav-side .nav-content .nav-body .nav > ul > li > ul > li {
            border-top: 1px solid #ccc; }
            #nav-side .nav-content .nav-body .nav > ul > li > ul > li > a {
              display: block;
              padding-left: 20px;
              padding-right: 10px;
              padding-top: 12px;
              padding-bottom: 10px;
              font-size: 12px;
              line-height: 23px;
              text-decoration: none;
              color: #777;
              background-color: #f6f6f6; }
              #nav-side .nav-content .nav-body .nav > ul > li > ul > li > a:before {
                margin-right: 5px;
                content: "-"; }
            #nav-side .nav-content .nav-body .nav > ul > li > ul > li.selected > ul {
              display: block; }
        #nav-side .nav-content .nav-body .nav > ul > li:first-child {
          border-top: 1px solid rgba(0, 0, 0, 0.2); }
        #nav-side .nav-content .nav-body .nav > ul > li.selected {
          border-bottom: 2px solid #02b1a0; }
          #nav-side .nav-content .nav-body .nav > ul > li.selected > a {
            color: #fff;
            background-color: #02b1a0; }
            #nav-side .nav-content .nav-body .nav > ul > li.selected > a:after {
              content: "\e805";
              color: #fff; }
          #nav-side .nav-content .nav-body .nav > ul > li.selected > ul {
            display: block; }
            #nav-side .nav-content .nav-body .nav > ul > li.selected > ul > li:first-child {
              border-top: 0; }
  @media (min-width: 768px) {
    #nav-side .nav-content {
      padding-top: 80px;
      max-width: 630px; }
      #nav-side .nav-content .nav-header {
        height: 80px; }
        #nav-side .nav-content .nav-header .logo {
          top: 25px;
          left: 25px;
          width: 191px;
          height: 30px; }
          #nav-side .nav-content .nav-header .logo a {
            background-size: 100% auto; }
        #nav-side .nav-content .nav-header .btn-nav-close {
          top: 20px;
          right: 10px; }
      #nav-side .nav-content .nav-body .quick > ul > li {
        height: 175px; }
        #nav-side .nav-content .nav-body .quick > ul > li > a {
          padding-top: 115px;
          font-size: 16px;
          background-size: auto 50px;
          background-position: 50% 45px; }
      #nav-side .nav-content .nav-body .nav > ul > li > a {
        padding-top: 17px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 20px;
        font-size: 16px; }
      #nav-side .nav-content .nav-body .nav > ul > li > ul > li > a {
        padding-top: 17px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 20px;
        font-size: 14px; } }

body.nav-opened #nav-side {
  right: 0; }
  body.nav-opened #nav-side .nav-content {
    right: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }

#content {
  min-height: 500px; }

#policy {
  height: 46px;
  background-color: #67676c; }
  #policy ul {
    overflow: hidden;
    padding-top: 8px;
    margin: 0 auto;
    max-width: 300px; }
    #policy ul li {
      float: left;
      padding-left: 12px;
      padding-right: 12px; }
      #policy ul li a {
        color: #fff;
        line-height: 30px; }
  @media (min-width: 768px) {
    #policy ul {
      max-width: none;
      text-align: center; }
      #policy ul li {
        float: none;
        display: inline; }
        #policy ul li a {
          font-size: 13px; } }
  @media (min-width: 1280px) {
    #policy ul {
      text-align: left; }
      #policy ul li {
        padding-left: 0;
        padding-right: 0; }
        #policy ul li + li {
          margin-left: 25px; } }

#footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #34343b;
  color: rgba(255, 255, 255, 0.7);
  line-height: 22px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  #footer a {
    color: rgba(255, 255, 255, 0.7); }
  #footer address {
    line-height: 22px;
    word-wrap: normal;
    word-break: keep-all; }
  @media (min-width: 768px) {
    #footer {
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 13px; }
      #footer .contact li {
        display: inline; }
        #footer .contact li + li:before {
          margin-left: 10px;
          margin-right: 10px;
          content: "·"; }
      #footer .copyright {
        font-size: 12px; } }
  @media (min-width: 1280px) {
    #footer {
      text-align: left; } }

/*# sourceMappingURL=default.css.map */
