@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.nbg {
  font-family: "NanumBarunGothic", sans-serif; }

.jjmj {
  font-family: 'Jeju Myeongjo', serif; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

#content {
  background-color: #f8f8f8; }

.title {
  position: relative;
  display: block;
  font-size: 20px;
  color: #333;
  text-align: left;
  padding-top: 20px; }
  @media (min-width: 768px) {
    .title {
      font-size: 24px; } }
  @media (min-width: 992px) {
    .title {
      font-size: 25px; } }
  .title:before {
    position: absolute;
    top: 0;
    content: "";
    width: 40px;
    border-top: 3px solid #02b1a0; }
  .title a {
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    vertical-align: top;
    line-height: 23px;
    text-align: center;
    border: 1px solid #ccc; }
    .title a .icon-plus {
      font-size: 17px;
      color: #949494; }

.jumbotron {
  margin: 0;
  padding: 0;
  text-align: center; }
  .jumbotron ul > li {
    padding: 65px 0 90px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
    /* 이미지는 배경으로 클래스 1식 추가 */ }
    .jumbotron ul > li .slogan {
      display: block;
      width: 252px;
      text-align: left;
      margin: 0 auto;
      padding: 20px 28px 25px;
      background-color: rgba(0, 0, 0, 0.77); }
      .jumbotron ul > li .slogan p {
        position: relative;
        width: 100%;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        margin-bottom: 20px; }
        .jumbotron ul > li .slogan p:after {
          position: absolute;
          bottom: 5px;
          left: 90px;
          width: 100px;
          content: "";
          border-bottom: 1px solid #fff; }
      .jumbotron ul > li .slogan .slogan-title {
        font-size: 25px;
        color: #fff;
        line-height: 34px;
        margin-bottom: 20px; }
      .jumbotron ul > li .slogan small {
        font-size: 12px;
        color: #fff;
        opacity: .5;
        line-height: 18px; }
    @media (min-width: 768px) {
      .jumbotron ul > li {
        padding: 70px 0; }
        .jumbotron ul > li .slogan {
          width: 370px;
          margin-left: 50px;
          padding: 50px 37px 40px; }
          .jumbotron ul > li .slogan p {
            font-size: 15px;
            margin-bottom: 30px; }
            .jumbotron ul > li .slogan p:after {
              width: 208px; }
          .jumbotron ul > li .slogan .slogan-title {
            font-size: 38px;
            line-height: 50px;
            margin-bottom: 25px; }
          .jumbotron ul > li .slogan small {
            font-size: 13px;
            line-height: 23px; } }
    @media (min-width: 992px) {
      .jumbotron ul > li {
        background-size: cover; }
        .jumbotron ul > li .slogan {
          margin-left: 0; } }
    .jumbotron ul > li.slogan-1 {
      background-image: url(/assets/images/main/jumbo_visual_img01.jpg); }
    .jumbotron ul > li.slogan-2 {
      background-image: url(/assets/images/main/jumbo_visual_img02.jpg); }
    .jumbotron ul > li.slogan-3 {
      background-image: url(/assets/images/main/jumbo_visual_img01.jpg); }
    .jumbotron ul > li.slogan-4 {
      background-image: url(/assets/images/main/jumbo_visual_img02.jpg); }
  .jumbotron .bx-wrapper {
    position: relative; }
    .jumbotron .bx-wrapper .bx-controls {
      position: absolute;
      bottom: 15px;
      width: 100%; }
      .jumbotron .bx-wrapper .bx-controls .bx-pager {
        text-align: center;
        height: 14px; }
        .jumbotron .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
          display: inline-block;
          margin: 0 3px; }
          .jumbotron .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
            display: inline-block;
            width: 14px;
            height: 14px;
            text-indent: -99999px;
            border: 1px solid #fff;
            border-radius: 50%; }
            .jumbotron .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active {
              background-color: #fff; }
      @media (min-width: 768px) {
        .jumbotron .bx-wrapper .bx-controls {
          bottom: 20px; }
          .jumbotron .bx-wrapper .bx-controls .bx-pager {
            height: 15px; }
            .jumbotron .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
              width: 15px;
              height: 15px; } }
      @media (min-width: 992px) {
        .jumbotron .bx-wrapper .bx-controls {
          bottom: 25px; }
          .jumbotron .bx-wrapper .bx-controls .bx-pager {
            height: 15px; }
            .jumbotron .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
              margin: 0 5px; }
              .jumbotron .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
                width: 16px;
                height: 16px; } }

.declare {
  position: relative;
  text-align: center;
  background-color: #02b1a0; }
  .declare .declare-content {
    height: 386px;
    padding-top: 60px;
    background-image: url(/assets/images/main/declare_xs_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%; }
    .declare .declare-content h2 {
      font-size: 28px;
      color: #fff;
      margin-bottom: 30px; }
    .declare .declare-content .summary {
      font-size: 12px;
      color: #fff;
      line-height: 20px; }
    @media (min-width: 768px) {
      .declare .declare-content {
        height: 416px;
        padding-top: 70px;
        background-size: auto 416px;
        background-image: url(/assets/images/main/declare_sm_bg.jpg); }
        .declare .declare-content h2 {
          font-size: 36px;
          margin-bottom: 38px; }
        .declare .declare-content .summary {
          font-size: 14px;
          line-height: 25px; } }
    @media (min-width: 992px) {
      .declare .declare-content {
        padding-top: 90px;
        background-image: url(/assets/images/main/declare_lg_bg.jpg); }
        .declare .declare-content h2 {
          font-size: 38px; }
        .declare .declare-content .summary {
          font-size: 15px; } }
  .declare .speech-bubble {
    position: absolute;
    bottom: 25px;
    width: 150px;
    margin-left: -75px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 5s;
    transition-duration: 5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    left: 0; }
    .declare .speech-bubble .details {
      width: 100%;
      height: 53px;
      margin-bottom: 22px;
      background-image: url(/assets/images/main/bubble_bottom_bg.png);
      background-repeat: no-repeat;
      background-position: 50% 100%; }
      @media (min-width: 768px) {
        .declare .speech-bubble .details {
          margin-bottom: 8px; } }
      @media (min-width: 768px) {
        .declare .speech-bubble .details {
          margin-bottom: 10px; } }
      .declare .speech-bubble .details p {
        width: 100%;
        height: 45px;
        color: #ff6c00;
        font-size: 16px;
        font-weight: bold;
        line-height: 45px;
        border-radius: 30px;
        background-color: #fff; }
        .declare .speech-bubble .details p i {
          font-family: 'Lato', sans-serif;
          font-weight: bold;
          font-style: normal; }
    .declare .speech-bubble .figure {
      padding-right: 15px; }
      @media (min-width: 768px) {
        .declare .speech-bubble .figure {
          padding-right: 20px; } }
      .declare .speech-bubble .figure img {
        height: 55px; }
        @media (min-width: 768px) {
          .declare .speech-bubble .figure img {
            height: 67px; } }
        @media (min-width: 992px) {
          .declare .speech-bubble .figure img {
            height: 75px; } }
  .declare .achievement {
    position: relative;
    height: 25px;
    text-align: right;
    margin: 0;
    background-color: #ccc;
    border-radius: 0;
    box-shadow: none;
    z-index: 1; }
    .declare .achievement .target {
      display: none; }
      @media (min-width: 992px) {
        .declare .achievement .target {
          display: inline-block;
          font-size: 15px;
          font-weight: bold;
          color: #333;
          line-height: 25px;
          font-family: 'Lato', sans-serif;
          padding-right: 30px; } }
    .declare .achievement .progress-bar {
      position: absolute;
      top: 0;
      font-size: 15px;
      color: #f7f7f7;
      font-weight: bold;
      text-align: right;
      padding-right: 20px;
      line-height: 25px;
      box-shadow: none;
      border-radius: 0 12px 12px 0;
      font-family: 'Lato', sans-serif;
      background-color: #ff6c00;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 5s;
      transition-duration: 5s;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      width: 0%; }

.declare.on .speech-bubble {
  left: 50%; }
.declare.on .achievement .progress-bar {
  width: 50%; }

.information {
  padding: 40px 0;
  background-color: #f8f8f8; }
  @media (min-width: 768px) {
    .information {
      padding: 50px 0 60px; } }
  .information .row .col-xs-4 > div {
    text-align: center; }
    .information .row .col-xs-4 > div .link-box {
      text-decoration: none; }
      .information .row .col-xs-4 > div .link-box .figure {
        height: 44px;
        line-height: 44px; }
        .information .row .col-xs-4 > div .link-box .figure img {
          width: 40px;
          display: inline-block; }
        @media (min-width: 768px) {
          .information .row .col-xs-4 > div .link-box .figure {
            height: 64px;
            line-height: 64px; } }
      .information .row .col-xs-4 > div .link-box .details {
        font-size: 13px;
        color: #333;
        font-weight: 400;
        margin-top: 15px; }
        @media (min-width: 768px) {
          .information .row .col-xs-4 > div .link-box .details {
            font-size: 16px;
            margin-top: 20px; } }
    @media (min-width: 768px) {
      .information .row .col-xs-4 > div.news .link-box img {
        width: 61px; }
      .information .row .col-xs-4 > div.schedule .link-box img {
        width: 54px; }
      .information .row .col-xs-4 > div.cms .link-box img {
        width: 59px; } }
    .information .row .col-xs-4 > div .carp-news .news-list {
      margin-top: 45px; }
      .information .row .col-xs-4 > div .carp-news .news-list li {
        line-height: 35px; }
        .information .row .col-xs-4 > div .carp-news .news-list li a {
          position: relative;
          display: block;
          font-size: 14px;
          color: #666;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 80px;
          padding-left: 13px; }
          .information .row .col-xs-4 > div .carp-news .news-list li a:before {
            position: absolute;
            top: 0;
            left: 0;
            color: #02b1a0;
            content: "\E803";
            font-family: "fontello"; }
          .information .row .col-xs-4 > div .carp-news .news-list li a .date {
            position: absolute;
            top: 3px;
            right: 0;
            font-size: 13px;
            color: #666; }
    .information .row .col-xs-4 > div .calendar {
      padding: 0 20px; }
      .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker {
        width: 100%;
        margin: 0 auto; }
        .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-widget-header {
          position: relative;
          width: 100%;
          height: 55px;
          text-align: center;
          background-color: #7b7b7b; }
          .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-widget-header a {
            position: absolute;
            top: 50%;
            font-size: 18px;
            color: #fff;
            cursor: pointer;
            margin-top: -9px; }
          .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-widget-header .ui-datepicker-prev {
            left: 15px; }
          .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-widget-header .ui-datepicker-next {
            right: 15px; }
          .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-widget-header .ui-datepicker-title span {
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            line-height: 55px;
            font-family: 'Lato', sans-serif; }
            .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-widget-header .ui-datepicker-title span.ui-datepicker-month:before {
              content: "."; }
        .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-datepicker-calendar {
          width: 100%;
          min-height: 217px;
          border: 1px solid #ebebeb;
          background-color: #fff; }
          .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-datepicker-calendar thead {
            display: none; }
          .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-datepicker-calendar tbody tr:first-child td {
            padding-top: 20px; }
          .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-datepicker-calendar tbody tr:last-child td {
            padding-bottom: 20px; }
          .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-datepicker-calendar tbody tr td {
            text-align: center; }
            .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-datepicker-calendar tbody tr td a {
              display: inline-block;
              width: 25px;
              height: 25px;
              font-size: 13px;
              color: #b3b3b3;
              line-height: 25px;
              text-decoration: none;
              margin: 5px 0;
              font-family: 'Lato', sans-serif; }
              .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-datepicker-calendar tbody tr td a.ui-state-active {
                color: #fff !important;
                border-radius: 50%;
                background-color: #02b1a0; }
            .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-datepicker-calendar tbody tr td:first-child {
              padding-left: 20px; }
              .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-datepicker-calendar tbody tr td:first-child a {
                color: #ff7f66; }
            .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-datepicker-calendar tbody tr td:last-child {
              padding-right: 20px; }
              .information .row .col-xs-4 > div .calendar #schedule .ui-datepicker .ui-datepicker-calendar tbody tr td:last-child a {
                color: #6dcff6; }
    .information .row .col-xs-4 > div .cms-sponsor {
      text-align: left; }
      .information .row .col-xs-4 > div .cms-sponsor P {
        font-size: 15px;
        color: #555;
        line-height: 22px;
        margin-top: 35px;
        margin-bottom: 40px; }
      .information .row .col-xs-4 > div .cms-sponsor ul li {
        text-align: center; }
        .information .row .col-xs-4 > div .cms-sponsor ul li a {
          display: inline-block;
          text-align: center; }
          .information .row .col-xs-4 > div .cms-sponsor ul li a:hover figcaption, .information .row .col-xs-4 > div .cms-sponsor ul li a:focus figcaption {
            color: #02b1a0;
            text-decoration: underline; }
          .information .row .col-xs-4 > div .cms-sponsor ul li a figure img {
            display: inline-block; }
          .information .row .col-xs-4 > div .cms-sponsor ul li a figure figcaption {
            font-size: 14px;
            color: #666;
            line-height: 20px;
            margin-top: 10px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }

.carp-section {
  padding: 60px 0;
  background-image: url(/assets/images/main/carp_action_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  @media (min-width: 768px) {
    .carp-section {
      padding: 90px 0; } }
  @media (min-width: 768px) {
    .carp-section {
      padding: 100px 0 110px; } }
  .carp-section h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 35px; }
    @media (min-width: 768px) {
      .carp-section h2 {
        font-size: 38px;
        margin-bottom: 40px; } }
    @media (min-width: 992px) {
      .carp-section h2 {
        font-size: 42px; } }
  .carp-section .summary {
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-align: center; }
    @media (min-width: 768px) {
      .carp-section .summary {
        font-size: 14px;
        line-height: 25px; } }
    @media (min-width: 992px) {
      .carp-section .summary {
        font-size: 15px; } }
  .carp-section .action-list {
    overflow: hidden;
    margin-top: 20px; }
    .carp-section .action-list li {
      float: left;
      width: 50%;
      text-align: center;
      padding: 0 18px;
      margin-top: 40px; }
      .carp-section .action-list li figure {
        display: inline-block; }
        .carp-section .action-list li figure .img-responsive {
          display: inline-block;
          width: 100%; }
        .carp-section .action-list li figure figcaption {
          font-size: 13px;
          color: #fff;
          line-height: 22px;
          margin-top: 20px; }
      @media (min-width: 768px) {
        .carp-section .action-list li {
          padding: 0;
          width: 33%;
          margin-top: 50px; }
          .carp-section .action-list li figure figcaption {
            font-size: 14px;
            line-height: 25px; }
          .carp-section .action-list li:nth-of-type(1) {
            width: 50%;
            text-align: right;
            padding-right: 25px; }
            .carp-section .action-list li:nth-of-type(1) figure {
              width: 190px;
              text-align: center; }
          .carp-section .action-list li:nth-of-type(2) {
            width: 50%;
            text-align: left;
            padding-left: 25px; }
            .carp-section .action-list li:nth-of-type(2) figure {
              width: 190px;
              text-align: center; } }
      @media (min-width: 992px) {
        .carp-section .action-list li {
          margin-top: 60px;
          padding: 0;
          width: 20%; }
          .carp-section .action-list li figure {
            padding: 0 10px; }
            .carp-section .action-list li figure figcaption {
              font-size: 16px;
              margin-top: 35px; }
          .carp-section .action-list li:nth-of-type(1) {
            width: 20%;
            text-align: center;
            padding-right: 0; }
          .carp-section .action-list li:nth-of-type(2) {
            width: 20%;
            text-align: center;
            padding-left: 0; } }
      @media (min-width: 1280px) {
        .carp-section .action-list li figure {
          padding: 0; } }

.board-list {
  padding: 60px 0; }
  @media (min-width: 768px) {
    .board-list {
      padding: 90px 0; } }
  .board-list .title {
    margin-bottom: 30px; }
  .board-list .video {
    margin-bottom: 30px; }
    @media (min-width: 992px) {
      .board-list .video {
        margin: 0; }
        .board-list .video .embed-responsive {
          height: 380px; } }
  .board-list .photo-list ul > li a {
    text-decoration: none; }
    .board-list .photo-list ul > li a .figure .img-responsive {
      width: 100%; }
    .board-list .photo-list ul > li a .details h4 {
      font-size: 14px;
      color: #111;
      font-weight: 600;
      margin: 20px 0; }
    .board-list .photo-list ul > li a .details .summary {
      font-size: 12px;
      color: #666;
      line-height: 20px; }
    .board-list .photo-list ul > li a .details > ul {
      margin-top: 20px; }
      .board-list .photo-list ul > li a .details > ul li {
        display: inline-block;
        margin-right: 20px; }
        .board-list .photo-list ul > li a .details > ul li p {
          font-size: 11px;
          color: #888; }
          .board-list .photo-list ul > li a .details > ul li p i {
            margin-right: 5px; }
    @media (min-width: 768px) {
      .board-list .photo-list ul > li a .details h4 {
        font-size: 16px;
        margin-top: 30px; }
      .board-list .photo-list ul > li a .details .summary {
        font-size: 13px;
        line-height: 22px; }
      .board-list .photo-list ul > li a .details > ul li p {
        font-size: 12px; } }
    @media (min-width: 992px) {
      .board-list .photo-list ul > li a .figure .img-responsive {
        width: 100%;
        height: 214px; }
      .board-list .photo-list ul > li a .details {
        max-height: 136px; }
        .board-list .photo-list ul > li a .details h4 {
          margin-top: 30px;
          margin-bottom: 20px; }
        .board-list .photo-list ul > li a .details .summary {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: -.5px; }
        .board-list .photo-list ul > li a .details ul {
          margin-top: 16px; } }

.event-list {
  padding-bottom: 60px; }
  @media (min-width: 768px) {
    .event-list {
      padding-bottom: 90px; } }
  .event-list ul li .event-item {
    position: relative;
    width: 100%;
    max-width: 352px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .event-list ul li .event-item {
        margin-bottom: 20px; } }
    @media (min-width: 992px) {
      .event-list ul li .event-item {
        margin-bottom: 30px; } }
    .event-list ul li .event-item .details {
      position: absolute;
      top: 50%;
      right: 30px;
      margin-top: -22px; }
      @media (min-width: 768px) {
        .event-list ul li .event-item .details {
          right: 20px; } }
      .event-list ul li .event-item .details p {
        font-size: 15px;
        color: #333; }
        @media (min-width: 1280px) {
          .event-list ul li .event-item .details p {
            font-size: 16px; } }
      .event-list ul li .event-item .details a {
        float: right;
        width: 72px;
        height: 18px;
        font-size: 11px;
        color: #000;
        text-align: center;
        line-height: 18px;
        margin-top: 5px;
        padding-left: 8px;
        border-radius: 15px;
        border: 1px solid #bbb;
        background-color: #f7f7f7;
        text-decoration: none; }
        .event-list ul li .event-item .details a .icon-right-dir {
          color: #02b1a0; }
  .event-list ul li:last-child .event-item {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .event-list ul li:nth-of-type(3) .event-item {
      margin-bottom: 0; } }

.event-banner {
  border: 1px solid #dfdfdf;
  margin-top: 10px; }
  @media (min-width: 768px) {
    .event-banner {
      margin-top: 20px; } }
  @media (min-width: 992px) {
    .event-banner {
      margin-top: 0; } }
  .event-banner .bx-wrapper {
    position: relative; }
    .event-banner .bx-wrapper .bx-viewport ul li {
      background-color: #fff; }
      .event-banner .bx-wrapper .bx-viewport ul li .img-responsive {
        margin: 0 auto; }
        @media (min-width: 992px) {
          .event-banner .bx-wrapper .bx-viewport ul li .img-responsive {
            width: auto;
            height: 203px; } }
        @media (min-width: 1280px) {
          .event-banner .bx-wrapper .bx-viewport ul li .img-responsive {
            width: auto;
            height: 250px; } }
    .event-banner .bx-wrapper .bx-controls {
      position: absolute;
      top: 12px;
      right: 12px; }
      .event-banner .bx-wrapper .bx-controls .bx-pager-item {
        display: inline-block;
        margin: 0 4px; }
        .event-banner .bx-wrapper .bx-controls .bx-pager-item a {
          display: block;
          width: 12px;
          height: 12px;
          text-indent: -99999px;
          background-color: #d1d1d1;
          border-radius: 50%; }
          .event-banner .bx-wrapper .bx-controls .bx-pager-item a.active {
            background-color: #02b1a0; }
      @media (min-width: 768px) {
        .event-banner .bx-wrapper .bx-controls {
          top: 20px;
          right: 20px; }
          .event-banner .bx-wrapper .bx-controls .bx-pager-item a {
            width: 15px;
            height: 15px; } }

.carp-square {
  padding: 60px 0;
  background-image: url(/assets/images/main/carp_square_bg.gif); }
  .carp-square .square-list ul {
    font-size: 0; }
    .carp-square .square-list ul li {
      margin-top: 50px;
      width: 50%;
      display: inline-block; }
      .carp-square .square-list ul li:nth-of-type(2n + 1) {
        padding-right: 10px; }
      .carp-square .square-list ul li:nth-of-type(2n + 2) {
        padding-left: 10px; }
      .carp-square .square-list ul li a {
        display: block;
        text-align: center;
        text-decoration: none; }
        .carp-square .square-list ul li a .figure .img-responsive {
          display: inline-block;
          width: 100%;
          max-width: 166px; }
        .carp-square .square-list ul li a .details {
          font-size: 13px;
          color: #333;
          margin-top: 20px; }
      @media (min-width: 768px) {
        .carp-square .square-list ul li {
          width: 25%;
          padding-left: 10px;
          padding-right: 10px;
          margin-top: 55px; }
          .carp-square .square-list ul li a .details {
            font-size: 15px; } }
    @media (min-width: 992px) {
      .carp-square .square-list ul {
        display: table; }
        .carp-square .square-list ul li {
          display: table-cell;
          width: 1%;
          padding-top: 35px; }
          .carp-square .square-list ul li a {
            position: relative; }
            .carp-square .square-list ul li a:after {
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 50%;
              content: "";
              width: 100%;
              height: 115px;
              background-color: #ff6c00;
              background-image: url(/assets/images/main/icon_search_img.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              opacity: 0;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s;
              box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3) inset;
              -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 2px 0px inset;
              -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 2px 0px inset; }
            .carp-square .square-list ul li a:hover:after, .carp-square .square-list ul li a:focus:after {
              opacity: 1; }
            .carp-square .square-list ul li a:hover .details, .carp-square .square-list ul li a:focus .details {
              font-weight: bold; } }
    @media (min-width: 1280px) {
      .carp-square .square-list ul li a:after {
        height: 148px; } }

.partner {
  padding: 25px 0 30px; }
  @media (min-width: 768px) {
    .partner {
      padding: 35px 0; } }
  @media (min-width: 992px) {
    .partner {
      padding: 40px 65px; } }
  .partner .bx-wrapper {
    position: relative;
    padding-top: 30px; }
    .partner .bx-wrapper .bx-viewport ul li {
      text-align: center; }
      .partner .bx-wrapper .bx-viewport ul li a {
        display: inline-block; }
        .partner .bx-wrapper .bx-viewport ul li a figure .img-responsive {
          margin: 0 auto; }
    .partner .bx-wrapper .bx-controls {
      position: absolute;
      top: 0;
      right: 0; }
      .partner .bx-wrapper .bx-controls .bx-pager-item {
        display: inline-block;
        margin: 0 4px; }
        .partner .bx-wrapper .bx-controls .bx-pager-item a {
          display: block;
          width: 12px;
          height: 12px;
          text-indent: -99999px;
          background-color: #d1d1d1;
          border-radius: 50%; }
          .partner .bx-wrapper .bx-controls .bx-pager-item a.active {
            background-color: #02b1a0; }
      @media (min-width: 768px) {
        .partner .bx-wrapper .bx-controls .bx-pager-item a {
          width: 15px;
          height: 15px; } }

/*# sourceMappingURL=main.css.map */
