@import 'common';

#content {
    background-color: #f8f8f8;
}

.title {
    position: relative;
    display: block;
    font-size: 20px;
    color: #333;
    text-align: left;
    padding-top: 20px;
    @media(min-width: $sm) {
        font-size: 24px;
    }
    @media(min-width: $md) {
        font-size: 25px;
    }
    &:before {
        position: absolute;
        top: 0;
        content: "";
        width: 40px;
        border-top: 3px solid $kcolor;
    }
    a {
        position: absolute;
        right: 0;
        width: 25px;
        height: 25px;
        vertical-align: top;
        line-height: 23px;
        text-align: center;
        border: 1px solid #ccc;
        .icon-plus {
            font-size: 17px;
            color: #949494;
        }
    }
}

// visual 슬라이더
.jumbotron {
    margin: 0;
    padding: 0;
    text-align: center;
    ul {
        > li {
            padding: 65px 0 90px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: auto 100%;
            .slogan {
                display: block;
                width: 252px;
                text-align: left;
                margin: 0 auto;
                padding: 20px 28px 25px;
                background-color: rgba(0, 0, 0, .77);
                p {
                    position: relative;
                    width: 100%;
                    font-size: 14px;
                    color: #fff;
                    font-weight: 400;
                    margin-bottom: 20px;
                    &:after {
                        position: absolute;
                        bottom: 5px;
                        left: 90px;
                        width: 100px;
                        content: "";
                        border-bottom: 1px solid #fff;
                    }
                }
                .slogan-title {
                    font-size: 25px;
                    color: #fff;
                    line-height: 34px;
                    margin-bottom: 20px;
                }
                small {
                    font-size: 12px;
                    color: #fff;
                    opacity: .5;
                    line-height: 18px;
                }
            }
            @media(min-width: $sm) {
                padding: 70px 0;
                .slogan {
                    width: 370px;
                    margin-left: 50px;
                    padding: 50px 37px 40px;
                    p {
                        font-size: 15px;
                        margin-bottom: 30px;
                        &:after {
                            width: 208px;
                        }
                    }
                    .slogan-title {
                        font-size: 38px;
                        line-height: 50px;
                        margin-bottom: 25px;
                    }
                    small {
                        font-size: 13px;
                        line-height: 23px;
                    }
                }
            }
            @media(min-width: $md) {
                background-size: cover;
                .slogan {
                    margin-left: 0;
                }
            }
            /* 이미지는 배경으로 클래스 1식 추가 */
            &.slogan-1 {
                background-image: url(/assets/images/main/jumbo_visual_img01.jpg);
            }
            &.slogan-2 {
                background-image: url(/assets/images/main/jumbo_visual_img02.jpg);
            }
            &.slogan-3 {
                background-image: url(/assets/images/main/jumbo_visual_img01.jpg);
            }
            &.slogan-4 {
                background-image: url(/assets/images/main/jumbo_visual_img02.jpg);
            }
        }
    }
    .bx-wrapper {
        position: relative;
        .bx-controls {
            position: absolute;
            bottom: 15px;
            width: 100%;
            .bx-pager {
                text-align: center;
                height: 14px;
                .bx-pager-item {
                    display: inline-block;
                    margin: 0 3px;
                    a {
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        text-indent: -99999px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        &.active {
                            background-color: #fff;
                        }
                    }
                }
            }
            @media(min-width: $sm) {
                bottom: 20px;
                .bx-pager {
                    height: 15px;
                    .bx-pager-item {
                        a {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
            @media(min-width: $md) {
                bottom: 25px;
                .bx-pager {
                    height: 15px;
                    .bx-pager-item {
                        margin: 0 5px;
                        a {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }
}
//참부모선포
.declare {
    position: relative;
    text-align: center;
    background-color: #02b1a0;
    .declare-content {
        height: 386px;
        padding-top: 60px;
        background-image: url(/assets/images/main/declare_xs_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 100%;
        h2 {
            font-size: 28px;
            color: #fff;
            margin-bottom: 30px;
        }
        .summary {
            font-size: 12px;
            color: #fff;
            line-height: 20px;
        }
        @media(min-width: $sm) {
            height: 416px;
            padding-top: 70px;
            background-size: auto 416px;
            background-image: url(/assets/images/main/declare_sm_bg.jpg);
            h2 {
                font-size: 36px;
                margin-bottom: 38px;
            }
            .summary {
                font-size: 14px;
                line-height: 25px;
            }
        }
        @media(min-width: $md) {
            padding-top: 90px;
            background-image: url(/assets/images/main/declare_lg_bg.jpg);
            h2 {
                font-size: 38px;
            }
            .summary {
                font-size: 15px;
            }
        }
    }
    .speech-bubble {
        position: absolute;
        bottom: 25px;
//        left: 50%;
        width: 150px;
        margin-left: -75px;
        
        @include transition($property: all, $duration: 5s, $timing: ease, $delay: 0s);
        left: 0;
        .details {
            width: 100%;
            height: 53px;
            margin-bottom: 22px;
            background-image: url(/assets/images/main/bubble_bottom_bg.png);
            background-repeat: no-repeat;
            background-position: 50% 100%;
            @media(min-width: $sm) {
                margin-bottom: 8px;
            }
            @media(min-width: $sm) {
                margin-bottom: 10px;
            }
            p {
                width: 100%;
                height: 45px;
                color: #ff6c00;
                font-size: 16px;
                font-weight: bold;
                line-height: 45px;
                border-radius: 30px;
                background-color: #fff;
                i {
                    @include lato();
                    font-weight: bold;
                    font-style: normal;
                }
            }
        }
        .figure {
            padding-right: 15px;
            @media(min-width: $sm) {
                padding-right: 20px;
            }
            img {
                height: 55px;
                @media(min-width: $sm) {
                    height: 67px;
                }
                @media(min-width: $md) {
                    height: 75px;
                }
            }
        }
    }
    .achievement {
        position: relative;
        height: 25px;
        text-align: right;
        margin: 0;
        background-color: #ccc;
        border-radius: 0;
        box-shadow: none;
        z-index: 1;
        .target {
            display: none;
            @media(min-width: $md) {
                display: inline-block;
                font-size: 15px;
                font-weight: bold;
                color: #333;
                line-height: 25px;
                @include lato();
                padding-right: 30px;
            }
        }
        .progress-bar {
            position: absolute;
            top: 0;
            font-size: 15px;
            color: #f7f7f7;
            font-weight: bold;
            text-align: right;
            padding-right: 20px;
            line-height: 25px;
            box-shadow: none;
            border-radius: 0 12px 12px 0;
            @include lato();
            background-color: #ff6c00;
            @include transition($property: all, $duration: 5s, $timing: ease, $delay: 0s);
            width: 0%;
        }
    }
}
// declare event 
.declare.on {
    .speech-bubble {
        left: 50%;
    }
    .achievement {
        .progress-bar {
            width: 50%;
        }
    }
}




//information 
.information {
    padding: 40px 0;
    background-color: #f8f8f8;
    @media(min-width: $sm) {
        padding: 50px 0 60px;
    }
    .row {
        .col-xs-4 {
            > div {
                text-align: center;
                .link-box {
                    text-decoration: none;
                    .figure {
                        height: 44px;
                        line-height: 44px;
                        img {
                            width: 40px;
                            display: inline-block;
                        }
                        @media(min-width: $sm) {
                            height: 64px;
                            line-height: 64px;
                        }
                    }
                    .details {
                        font-size: 13px;
                        color: #333;
                        font-weight: 400;
                        margin-top: 15px;
                        @media(min-width: $sm) {
                            font-size: 16px;
                            margin-top: 20px;
                        }
                    }
                }
                @media(min-width: $sm) {
                    &.news {
                        .link-box {
                            img {
                                width: 61px;
                            }
                        }
                    }
                    &.schedule {
                        .link-box {
                            img {
                                width: 54px;
                            }
                        }
                    }
                    &.cms {
                        .link-box {
                            img {
                                width: 59px;
                            }
                        }
                    }
                }
                .carp-news {
                    .news-list {
                        margin-top: 45px;
                        li {
                            line-height: 35px;
                            a {
                                position: relative;
                                display: block;
                                font-size: 14px;
                                color: #666;
                                font-weight: 400;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                padding-right: 80px;
                                padding-left: 13px;
                                &:before {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    color: $kcolor;
                                    content: "\E803";
                                    font-family: "fontello";
                                }
                                .date {
                                    position: absolute;
                                    top: 3px;
                                    right: 0;
                                    font-size: 13px;
                                    color: #666;
                                }
                            }
                        }
                    }
                }
                .calendar {
                    padding: 0 20px;
                    #schedule {
                        .ui-datepicker {
                            width: 100%;
                            margin: 0 auto;
                            .ui-widget-header {
                                position: relative;
                                width: 100%;
                                height: 55px;
                                text-align: center;
                                background-color: #7b7b7b;
                                a {
                                    position: absolute;
                                    top: 50%;
                                    font-size: 18px;
                                    color: #fff;
                                    cursor: pointer;
                                    margin-top: -9px;
                                }
                                .ui-datepicker-prev {
                                    left: 15px;
                                }
                                .ui-datepicker-next {
                                    right: 15px;
                                }
                                .ui-datepicker-title {
                                    span {
                                        font-size: 18px;
                                        font-weight: bold;
                                        color: #fff;
                                        line-height: 55px;
                                        @include lato();
                                        &.ui-datepicker-month {
                                            &:before {
                                                content: ".";
                                            }
                                        }
                                    }
                                }
                            }
                            .ui-datepicker-calendar {
                                width: 100%;
                                min-height: 217px;
                                border: 1px solid #ebebeb;
                                background-color: #fff;
                                thead {
                                    display: none;
                                }
                                tbody {
                                    tr {
                                        &:first-child {
                                            td {
                                                padding-top: 20px;
                                            }
                                        }
                                        &:last-child {
                                            td {
                                                padding-bottom: 20px;
                                            }
                                        }
                                        td {
                                            text-align: center;
                                            a {
                                                display: inline-block;
                                                width: 25px;
                                                height: 25px;
                                                font-size: 13px;
                                                color: #b3b3b3;
                                                line-height: 25px;
                                                text-decoration: none;
                                                margin: 5px 0;
                                                @include lato();
                                                &.ui-state-active {
                                                    color: #fff !important;
                                                    border-radius: 50%;
                                                    background-color: $kcolor;
                                                }
                                            }
                                            &:first-child {
                                                padding-left: 20px;
                                                a {
                                                    color: #ff7f66;
                                                }
                                            }
                                            &:last-child {
                                                padding-right: 20px;
                                                a {
                                                    color: #6dcff6;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .cms-sponsor {
                    text-align: left;
                    P {
                        font-size: 15px;
                        color: #555;
                        line-height: 22px;
                        margin-top: 35px;
                        margin-bottom: 40px;
                    }
                    ul {
                        li {
                            text-align: center;
                            a {
                                display: inline-block;
                                text-align: center;
                                &:hover,&:focus {
                                    figcaption {
                                        color: $kcolor;
                                        text-decoration: underline;
                                    }
                                }
                                figure {
                                    img {
                                        display: inline-block;
                                    }
                                    figcaption {
                                        font-size: 14px;
                                        color: #666;
                                        line-height: 20px;
                                        margin-top: 10px;
                                        @include transition();
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//carp-section 
.carp-section {
    padding: 60px 0;
    background-image: url(/assets/images/main/carp_action_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    @media(min-width: $sm) {
        padding: 90px 0;
    }
    @media(min-width: $sm) {
        padding: 100px 0 110px;
    }
    h2 {
        font-size: 30px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 35px;
        @media(min-width: $sm) {
            font-size: 38px;
            margin-bottom: 40px;
        }
        @media(min-width: $md) {
            font-size: 42px;
        }
    }
    .summary {
        font-size: 12px;
        color: #fff;
        line-height: 20px;
        text-align: center;
        @media(min-width: $sm) {
            font-size: 14px;
            line-height: 25px;
        }
        @media(min-width: $md) {
            font-size: 15px;
        }
    }
    .action-list {
        overflow: hidden;
        margin-top: 20px;
        li {
            float: left;
            width: 50%;
            text-align: center;
            padding: 0 18px;
            margin-top: 40px;
            figure {
                display: inline-block;
                .img-responsive {
                    display: inline-block;
                    width: 100%;
                }
                figcaption {
                    font-size: 13px;
                    color: #fff;
                    line-height: 22px;
                    margin-top: 20px;
                }
            }
            @media(min-width: $sm) {
                padding: 0;
                width: 33%;
                margin-top: 50px;
                figure {
                    figcaption {
                        font-size: 14px;
                        line-height: 25px;
                    }
                }
                &:nth-of-type(1) {
                    width: 50%;
                    text-align: right;
                    padding-right: 25px;
                    figure {
                        width: 190px;
                        text-align: center;
                    }
                }
                &:nth-of-type(2) {
                    width: 50%;
                    text-align: left;
                    padding-left: 25px;
                    figure {
                        width: 190px;
                        text-align: center;
                    }
                }
            }
            @media(min-width: $md) {
                margin-top: 60px;
                padding: 0;
                width: 20%;
                figure {
                    padding: 0 10px;
                    figcaption {
                        font-size: 16px;
                        margin-top: 35px;
                    }
                }
                &:nth-of-type(1) {
                    width: 20%;
                    text-align: center;
                    padding-right: 0;
                }
                &:nth-of-type(2) {
                    width: 20%;
                    text-align: center;
                    padding-left: 0;
                }
            }
            @media(min-width: $lg) {
                figure {
                    padding: 0;
                }
            }
        }
    }
}

//영상및 사진 게시판
.board-list {
    padding: 60px 0;
    @media(min-width: $sm) {
        padding: 90px 0;
    }
    .title {
        margin-bottom: 30px;
    }
    .video {
        margin-bottom: 30px;
        @media(min-width: $md) {
            margin: 0;
            .embed-responsive {
                height: 380px;
            }
        }
    }
    .photo-list {
        ul {
            > li {
                a {
                    text-decoration: none;
                    .figure {
                        .img-responsive {
                            width: 100%;
                        }
                    }
                    .details {
                        h4 {
                            font-size: 14px;
                            color: #111;
                            font-weight: 600;
                            margin: 20px 0;
                        }
                        .summary {
                            font-size: 12px;
                            color: #666;
                            line-height: 20px;
                        }
                        > ul {
                            margin-top: 20px;
                            li {
                                display: inline-block;
                                margin-right: 20px;
                                p {
                                    font-size: 11px;
                                    color: #888;
                                    i {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                    @media(min-width: $sm) {
                        .details {
                            h4 {
                                font-size: 16px;
                                margin-top: 30px;
                            }
                            .summary {
                                font-size: 13px;
                                line-height: 22px;
                            }
                            > ul {
                                li {
                                    p {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    @media(min-width: $md) {
                        .figure {
                            .img-responsive {
                                width: 100%;
                                height: 214px;
                            }
                        }
                        .details {
                            max-height: 136px;
                            h4 {
                                margin-top: 30px;
                                margin-bottom: 20px;
                            }
                            .summary {
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: -.5px;
                            }
                            ul {
                                margin-top: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//진행중인 이벤트
.event-list {
    padding-bottom: 60px;
    @media(min-width: $sm) {
        padding-bottom: 90px;
    }
    ul {
        li {
            .event-item {
                position: relative;
                width: 100%;
                max-width: 352px;
                display: block;
                margin: 0 auto;
                margin-bottom: 10px;
                @media(min-width: $sm) {
                    margin-bottom: 20px;
                }
                @media(min-width: $md) {
                    margin-bottom: 30px;
                }
                .details {
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    margin-top: -22px;
                    @media(min-width: $sm) {
                        right: 20px;
                    }
                    p {
                        font-size: 15px;
                        color: #333;
                        @media(min-width: $lg) {
                            font-size: 16px;
                        }
                    }
                    a {
                        float: right;
                        width: 72px;
                        height: 18px;
                        font-size: 11px;
                        color: #000;
                        text-align: center;
                        line-height: 18px;
                        margin-top: 5px;
                        padding-left: 8px;
                        border-radius: 15px;
                        border: 1px solid #bbb;
                        background-color: #f7f7f7;
                        text-decoration: none;
                        .icon-right-dir {
                            color: $kcolor;
                        }
                    }
                }
            }
            &:last-child {
                .event-item {
                    margin-bottom: 0;
                }
            }
            @media(min-width: $sm) {
                &:nth-of-type(3) {
                    .event-item {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

//이벤트 배너 
.event-banner {
    border: 1px solid #dfdfdf;
    margin-top: 10px;
    @media(min-width: $sm) {
        margin-top: 20px;
    }
    @media(min-width: $md) {
        margin-top: 0;
    }
    .bx-wrapper {
        position: relative;
        .bx-viewport {
            ul {
                li {
                    background-color: #fff;
                    .img-responsive {
                        margin: 0 auto;
                        @media(min-width: $md) {
                            width: auto;
                            height: 203px;
                        }
                        @media(min-width: $lg) {
                            width: auto;
                            height: 250px;
                        }
                    }
                }
            }
        }
        .bx-controls {
            position: absolute;
            top: 12px;
            right: 12px;
            .bx-pager-item {
                display: inline-block;
                margin: 0 4px;
                a {
                    display: block;
                    width: 12px;
                    height: 12px;
                    text-indent: -99999px;
                    background-color: #d1d1d1;
                    border-radius: 50%;
                    &.active {
                        background-color: $kcolor;
                    }
                }
            }
            @media(min-width: $sm) {
                top: 20px;
                right: 20px;
                .bx-pager-item {
                    a {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}

//CARP 광장
.carp-square {
    padding: 60px 0;
    background-image: url(/assets/images/main/carp_square_bg.gif);
    .square-list {
        ul {
            font-size: 0;
            li {
                margin-top: 50px;
                width: 50%;
                display: inline-block;
                &:nth-of-type(2n + 1) {
                    padding-right: 10px;
                }
                &:nth-of-type(2n + 2) {
                    padding-left: 10px;
                }
                a {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    .figure {
                        .img-responsive {
                            display: inline-block;
                            width: 100%;
                            max-width: 166px;
                        }
                    }
                    .details {
                        font-size: 13px;
                        color: #333;
                        margin-top: 20px;
                    }
                }
                @media(min-width: $sm) {
                    width: 25%;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-top: 55px;
                    a {
                        .details {
                            font-size: 15px;
                        }
                    }
                }
            }
            @media(min-width: $md) {
                display: table;
                li {
                    display: table-cell;
                    width: 1%;
                    padding-top: 35px;
                    a {
                        position: relative;
                        &:after {
                            position: absolute;
                            top: 0;
                            left: 0;
                            border-radius: 50%;
                            content: "";
                            width: 100%;
                            height: 115px;
                            background-color: #ff6c00;
                            background-image: url(/assets/images/main/icon_search_img.png);
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            opacity: 0;
                            @include transition();
                            box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3) inset;
                            -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 2px 0px inset;
                            -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 2px 0px inset;
                        }
                        &:hover, &:focus {
                            &:after {
                                opacity: 1;
                            }
                            .details {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            @media(min-width: $lg) {
                li {
                    a {
                        &:after {
                            height: 148px;
                        }
                    }
                }
            }
        }
    }
}

//파트너 
.partner {
    padding: 25px 0 30px;
    @media(min-width: $sm) {
        padding: 35px 0;
    }
    @media(min-width: $md) {
        padding: 40px 65px;
    }
    .bx-wrapper {
        position: relative;
        padding-top: 30px;
        .bx-viewport {
            ul {
                li {
                    text-align: center;
                    a {
                        display: inline-block;
                        figure {
                            .img-responsive {
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
        .bx-controls {
            position: absolute;
            top: 0;
            right: 0;
            .bx-pager-item {
                display: inline-block;
                margin: 0 4px;
                a {
                    display: block;
                    width: 12px;
                    height: 12px;
                    text-indent: -99999px;
                    background-color: #d1d1d1;
                    border-radius: 50%;
                    &.active {
                        background-color: $kcolor;
                    }
                }
            }
            @media(min-width: $sm) {
                .bx-pager-item {
                    a {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}







































