@import 'common';

.notice {
    #policy {
        margin-top: 110px;
        @media(min-width: $sm) {
            margin-top: 130px;
        }
        @media(min-width: $md) {
            margin-top: 150px;
        }
    }
}

//page-header bg
.page-header {
    margin-bottom: 0;
    .header-title {
        background-image: url(/assets/images/notice/page_header_xs.jpg);
        @media(min-width: $sm) {
            background-image: url(/assets/images/notice/page_header_lg.jpg);
        }
    }
}


//게시판 리스트
.notice-list {
    .search-form {
        margin-bottom: 45px;
        @media(min-width: $sm) {
            margin-bottom: 30px;
        }
        @media(min-width: $md) {
            margin-bottom: 50px;
        }
    }
    .btn-area {
        margin-top: 20px;
        @media(min-width: $sm) {
            text-align: right;
            margin-top: 50px;
        }
        @media(min-width: $md) {
            margin-top: 50px;
        }
    }
    .paging {
        margin-top: 35px;
        @media(min-width: $sm) {
            margin-top: 10px;
        }
        @media(min-width: $md) {
            margin-top: 40px;
        }
    }
}

//게시판 뷰
.notice-view {
    .btn-area {
        margin-top: 30px;
        margin-bottom: 50px;
        p {
            ~ p {
                margin-top: 10px;
                @media(min-width: $sm) {
                    margin-top: 0;
                }
            }
        }
        @media(min-width: $sm) {
            overflow: hidden;
            margin-top: 25px;
            margin-bottom: 75px;
            p {
                &:nth-of-type(1) {
                    float: left;
                }
                &:nth-of-type(2) {
                    float: right;
                }
            }
        }
        @media(min-width: $md) {
            margin-top: 30px;
            margin-bottom: 60px;
        }
    }
}

//게시판 쓰기
.notice-write {
    .btn-area {
        margin-top: 30px;
        @media(min-width: $sm) {
            text-align: right;
            margin-top: 20px;
        }
        @media(min-width: $md) {
            margin-top: 35px;
        }
    }
}


//뉴스 리스트
.news-list {
    .search-form {
        margin-bottom: 45px;
        @media(min-width: $sm) {
            margin-bottom: 30px;
        }
        @media(min-width: $md) {
            margin-bottom: 50px;
        }
    }
    .btn-area {
        margin-top: 20px;
        @media(min-width: $sm) {
            text-align: right;
            margin-top: 50px;
        }
        @media(min-width: $md) {
            margin-top: 50px;
        }
    }
    .paging {
        margin-top: 35px;
        @media(min-width: $sm) {
            margin-top: 10px;
        }
        @media(min-width: $md) {
            margin-top: 40px;
        }
    }
}

//뉴스 뷰
.news-view {
    .btn-area {
        margin-top: 30px;
        margin-bottom: 50px;
        p {
            ~ p {
                margin-top: 10px;
                @media(min-width: $sm) {
                    margin-top: 0;
                }
            }
        }
        @media(min-width: $sm) {
            overflow: hidden;
            margin-top: 25px;
            margin-bottom: 75px;
            p {
                &:nth-of-type(1) {
                    float: left;
                }
                &:nth-of-type(2) {
                    float: right;
                }
            }
        }
        @media(min-width: $md) {
            margin-top: 30px;
            margin-bottom: 60px;
        }
    }
}

//뉴스 쓰기
.news-write {
    .btn-area {
        margin-top: 30px;
        @media(min-width: $sm) {
            text-align: right;
            margin-top: 20px;
        }
        @media(min-width: $md) {
            margin-top: 35px;
        }
    }
}

//일정 게시판
.schedule {
    .calendar {
        .calendar-header {
            position: relative;
            width: 100%;
            color: #fff;
            margin-bottom: 15px;
            background-color: $kcolor;
            .calendar-btn {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                overflow: hidden;
                margin-top: -14px;
                a {
                    display: block;
                    font-size: 20px;
                    color: #fff;
                    text-decoration: none;
                    i {
                        &:before {
                            margin: 0;
                        }
                    }
                    &.last-month {
                        float: left;
                        margin-left: 10px;
                    }
                    &.next-month {
                        float: right;
                        margin-right: 10px;
                    }
                }
            }
            h4 {
                font-size: 15px;
                color: #fff;
                line-height: 40px;
                text-align: center;
                .icon-calendar {
                    margin-right: 6px;
                }
                span {
                    display: inline-block;
                    &.year {
                        margin-right: 5px;
                        &:after {
                            content: ".";
                        }
                    }
                }
            }
            @media(min-width: $md) {
                margin-bottom: 25px;
                h4 {
                    font-size: 18px;
                    line-height: 60px;
                }
                .calendar-btn {
                    margin-top: -15px;
                    a {
                        font-size: 25px;
                    }
                }
            }
        }
        .table-wrap {
            .table {
                table-layout: fixed;
                margin-bottom: 0;
                border: 0;
                thead {
                    tr {
                        th {
                            font-size: 12px;
                            text-align: center;
                            color: rgba(#333, .8);
                            padding: 10px 0;
                            border: 1px solid #ccc;
                            border-bottom: 0;
                            border-left-color: #92c7c2;
                            border-right-color: #92c7c2;
                            background-color: #b3e7e2;
                            &.sunday {
                                color: rgba(#e00000, .8);
                            }
                            @media(min-width: $sm) {
                                font-size: 13px;
                            }
                            @media(min-width: $md) {
                                font-size: 15px;
                                padding: 13px 0;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            text-align: center;
                            padding: 0;
                            border: 1px solid #ccc;
                            a {
                                font-size: 12px;
                                color: #333;
                                display: block;
                                padding: 10px 0;
                                text-decoration: none;
                                @include transition();
                                &:hover {
                                    background-color: $kcolor !important;
                                    color: #fff;
                                    opacity: .7;
                                }
                                &:focus {
                                    background-color: $kcolor !important;
                                    color: #fff;
                                }
                            }
                            &.scheduled {
                                a {
                                    background-color: #eee;
                                }
                            }
                            @media(min-width: $sm) {
                                a {
                                    font-size: 13px;
                                }
                            }
                            @media(min-width: $md) {
                                a {
                                    font-size: 15px;
                                    padding: 13px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .schedule-list {
        margin-top: 30px;
        li {
            overflow: hidden;
            padding: 15px 10px;
            background-color: #eee;
            ~ li {
                margin-top: 10px;
            }
            .date {
                float: left;
                width: 35px;
                height: 40px;
                color: #fff;
                margin-right: 10px;
                text-align: center;
                background-color: $kcolor;
                .month {
                    display: block;
                    font-size: 10px;
                    margin-top: 5px;
                }
                .day {
                    font-weight: bold;
                    font-size: 15px;
                }
            }
            .details {
                display: inline;
                font-size: 13px;
                color: #333;
            }
        }
        @media(min-width: $sm) {
            margin-top: 0;
            padding-left: 30px;
        }
        @media(min-width: $md) {
            margin-top: 0;
            padding-left: 60px;
            li {
                .date {
                    width: 40px;
                    height: 45px;
                    .month {
                        font-size: 12px;
                        margin-top: 5px;
                    }
                    .day {
                        font-size: 16px;
                    }
                }
                .details {
                    font-size: 15px;
                }
            }
        }
    }
}


















































