h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.nbg {
  font-family: "NanumBarunGothic", sans-serif; }

.jjmj {
  font-family: 'Jeju Myeongjo', serif; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.form-group {
  margin-bottom: 0; }

.form-control {
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #dee1e2; }
  .form-control:hover, .form-control:focus {
    box-shadow: none; }

.btn {
  padding: 0;
  border-radius: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .btn:hover, .btn:focus {
    opacity: .7; }

label {
  margin: 0;
  font-weight: 400;
  color: #303030; }

.page-header {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  border: 0; }
  .page-header .header-title {
    font-size: 30px;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    padding: 35px 0 38px;
    background-image: url(/assets/images/sub/sub_page_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }
  .page-header .page-title {
    font-size: 28px;
    color: #02b1a0;
    text-align: center;
    margin: 40px 0; }
  .page-header .sub-snb ul {
    font-size: 0; }
    .page-header .sub-snb ul li {
      position: relative;
      display: inline-block;
      width: 50%;
      vertical-align: top;
      text-align: center;
      border-bottom: 1px solid #ccc; }
      .page-header .sub-snb ul li:after {
        position: absolute;
        top: 20px;
        right: -1px;
        content: "";
        display: block;
        height: 10px;
        border-right: 1px solid #d9d9d9; }
        @media (min-width: 768px) {
          .page-header .sub-snb ul li:after {
            top: 4px; } }
        @media (min-width: 992px) {
          .page-header .sub-snb ul li:after {
            top: 5px; } }
      .page-header .sub-snb ul li:nth-of-type(2n + 2):after {
        border: 0; }
        @media (min-width: 768px) {
          .page-header .sub-snb ul li:nth-of-type(2n + 2):after {
            border-right: 1px solid #d9d9d9; } }
      .page-header .sub-snb ul li:last-child:after {
        border: 0; }
      .page-header .sub-snb ul li a {
        display: block;
        font-size: 13px;
        color: #a8a8a8;
        padding: 20px 0;
        text-decoration: none;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .page-header .sub-snb ul li a:hover, .page-header .sub-snb ul li a:focus {
          position: relative;
          color: rgba(10, 179, 163, 0.5);
          font-weight: bold; }
          .page-header .sub-snb ul li a:hover:after, .page-header .sub-snb ul li a:focus:after {
            position: absolute;
            bottom: -1px;
            left: 0;
            content: "";
            width: 100%;
            display: block;
            border-bottom: 2px solid rgba(10, 179, 163, 0.5); }
      .page-header .sub-snb ul li.space a {
        padding: 11px 0; }
        @media (min-width: 768px) {
          .page-header .sub-snb ul li.space a {
            padding: 0 0 20px; } }
      .page-header .sub-snb ul li.active a {
        position: relative;
        color: #02b1a0;
        cursor: default;
        font-weight: bold; }
        .page-header .sub-snb ul li.active a:after {
          position: absolute;
          bottom: -1px;
          left: 0;
          content: "";
          width: 100%;
          display: block;
          border-bottom: 2px solid #02b1a0; }
    @media (min-width: 768px) {
      .page-header .sub-snb ul {
        display: table; }
        .page-header .sub-snb ul li {
          display: table-cell;
          width: 1%; }
          .page-header .sub-snb ul li a {
            font-size: 15px;
            padding-top: 0;
            padding-bottom: 20px; } }
    @media (min-width: 992px) {
      .page-header .sub-snb ul li a {
        font-size: 16px; } }
  @media (min-width: 768px) {
    .page-header {
      margin-bottom: 80px; }
      .page-header .header-title {
        font-size: 50px;
        padding: 60px 0 88px; }
      .page-header .page-title {
        font-size: 34px;
        margin: 80px 0 85px; } }
  @media (min-width: 992px) {
    .page-header {
      margin-bottom: 100px; }
      .page-header .header-title {
        font-size: 55px;
        padding: 80px 0; }
      .page-header .page-title {
        font-size: 36px;
        margin: 90px 0 105px; } }

section {
  padding-bottom: 60px; }
  @media (min-width: 768px) {
    section {
      padding-bottom: 100px; } }
  @media (min-width: 992px) {
    section {
      padding-bottom: 220px; } }

.section-header {
  margin-bottom: 40px; }
  .section-header .title {
    position: relative;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    padding-left: 15px; }
    .section-header .title:before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      content: "";
      display: inline-block;
      border-left: 3px solid #02b1a0; }
    @media (min-width: 768px) {
      .section-header .title {
        font-size: 22px;
        padding-left: 20px; } }
    @media (min-width: 768px) {
      .section-header .title {
        font-size: 24px; } }
  @media (min-width: 768px) {
    .section-header {
      margin-bottom: 50px; } }
  @media (min-width: 992px) {
    .section-header {
      margin-bottom: 60px; } }

.section-content .page-summary {
  font-size: 20px;
  color: #333;
  line-height: 32px;
  font-weight: 500;
  font-family: 'Jeju Myeongjo', serif; }
  .section-content .page-summary i {
    font-style: normal;
    color: #ff6c00; }
  @media (min-width: 768px) {
    .section-content .page-summary {
      font-size: 30px;
      line-height: 48px; } }

.search-form {
  text-align: center;
  padding: 17px 0;
  background-color: #ececec; }
  .search-form .form-group {
    display: inline-block;
    font-size: 0; }
    .search-form .form-group select {
      width: 95px; }
    .search-form .form-group input {
      width: 125px;
      margin: 0 5px; }
    .search-form .form-group .form-control {
      display: inline-block;
      font-size: 13px;
      height: 40px;
      color: #333; }
  .search-form .btn-search {
    display: inline-block; }
    .search-form .btn-search .btn {
      width: 53px;
      height: 40px;
      font-size: 13px;
      color: #333;
      text-align: center;
      line-height: 36px;
      border: 2px solid #555;
      background-color: #fff; }
  @media (min-width: 768px) {
    .search-form {
      padding: 30px 0; }
      .search-form .form-group {
        font-size: 14px; }
        .search-form .form-group select {
          width: 136px; }
        .search-form .form-group input {
          width: 385px;
          margin: 0 10px; }
      .search-form .btn-search .btn {
        font-size: 14px;
        width: 95px; } }

.table-wrap .table {
  margin-bottom: 0; }

.board-list {
  width: 100%; }
  .board-list .table {
    table-layout: fixed;
    border: 0;
    border-top: 2px solid #555; }
    .board-list .table thead tr th {
      font-size: 13px;
      text-align: center;
      font-weight: 400;
      color: #383838;
      padding: 15px 0;
      border: 0;
      border-bottom: 2px solid #555; }
      @media (min-width: 768px) {
        .board-list .table thead tr th {
          font-size: 14px;
          padding: 20px 0; } }
      .board-list .table thead tr th:nth-of-type(1) {
        display: none; }
        @media (min-width: 768px) {
          .board-list .table thead tr th:nth-of-type(1) {
            display: table-cell;
            width: 72px; } }
        @media (min-width: 992px) {
          .board-list .table thead tr th:nth-of-type(1) {
            width: 100px; } }
      .board-list .table thead tr th:nth-of-type(2) {
        width: 65%; }
        @media (min-width: 768px) {
          .board-list .table thead tr th:nth-of-type(2) {
            width: 438px; } }
        @media (min-width: 992px) {
          .board-list .table thead tr th:nth-of-type(2) {
            width: 420px; } }
        @media (min-width: 1280px) {
          .board-list .table thead tr th:nth-of-type(2) {
            width: 650px; } }
      .board-list .table thead tr th:nth-of-type(3) {
        display: none; }
        @media (min-width: 992px) {
          .board-list .table thead tr th:nth-of-type(3) {
            display: table-cell;
            width: 90px; } }
      .board-list .table thead tr th:nth-of-type(4) {
        display: none; }
        @media (min-width: 768px) {
          .board-list .table thead tr th:nth-of-type(4) {
            display: table-cell;
            width: 110px; } }
      .board-list .table thead tr th:nth-of-type(5) {
        width: 15%; }
        @media (min-width: 768px) {
          .board-list .table thead tr th:nth-of-type(5) {
            width: 90px; } }
        @media (min-width: 992px) {
          .board-list .table thead tr th:nth-of-type(5) {
            width: 100px; } }
    .board-list .table tbody tr:nth-child(odd) td {
      background-color: #fff; }
    .board-list .table tbody tr td {
      font-size: 13px;
      color: #666;
      text-align: center;
      padding: 15px 0;
      border: 0;
      background-color: #f8f8f8; }
      @media (min-width: 768px) {
        .board-list .table tbody tr td {
          font-size: 14px;
          padding: 25px 0; } }
      .board-list .table tbody tr td:nth-of-type(1) {
        display: none; }
        @media (min-width: 768px) {
          .board-list .table tbody tr td:nth-of-type(1) {
            display: table-cell;
            width: 72px; } }
        @media (min-width: 992px) {
          .board-list .table tbody tr td:nth-of-type(1) {
            width: 100px; } }
      .board-list .table tbody tr td:nth-of-type(2) {
        width: 65%; }
        @media (min-width: 768px) {
          .board-list .table tbody tr td:nth-of-type(2) {
            width: 438px; } }
        @media (min-width: 992px) {
          .board-list .table tbody tr td:nth-of-type(2) {
            width: 420px; } }
        @media (min-width: 1280px) {
          .board-list .table tbody tr td:nth-of-type(2) {
            width: 650px; } }
      .board-list .table tbody tr td:nth-of-type(3) {
        display: none; }
        @media (min-width: 992px) {
          .board-list .table tbody tr td:nth-of-type(3) {
            display: table-cell;
            width: 90px; } }
      .board-list .table tbody tr td:nth-of-type(4) {
        display: none; }
        @media (min-width: 768px) {
          .board-list .table tbody tr td:nth-of-type(4) {
            display: table-cell;
            width: 110px; } }
      .board-list .table tbody tr td:nth-of-type(5) {
        width: 15%; }
        @media (min-width: 768px) {
          .board-list .table tbody tr td:nth-of-type(5) {
            width: 90px; } }
        @media (min-width: 992px) {
          .board-list .table tbody tr td:nth-of-type(5) {
            width: 100px; } }
      .board-list .table tbody tr td.subject {
        text-align: left; }
        .board-list .table tbody tr td.subject a {
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding-left: 5px; }
          @media (min-width: 768px) {
            .board-list .table tbody tr td.subject a {
              padding-left: 20px; } }

.board-write .table {
  border: 0;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555; }
  .board-write .table tbody tr:last-child th {
    border-bottom: 0; }
  .board-write .table tbody tr:last-child td {
    border-bottom: 0; }
  .board-write .table tbody tr th {
    width: 72px;
    font-size: 13px;
    color: #303030;
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #d1d1d1;
    background-color: #f7f8f9; }
    .board-write .table tbody tr th.content {
      padding-top: 15px;
      vertical-align: top; }
    @media (min-width: 768px) {
      .board-write .table tbody tr th {
        width: 130px;
        font-size: 14px;
        padding-left: 35px; } }
  .board-write .table tbody tr td {
    font-size: 13px;
    color: #555;
    padding: 15px 10px;
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid #d1d1d1; }
    .board-write .table tbody tr td .form-control {
      font-size: 13px;
      height: 30px;
      border: 1px solid #a2a2a2; }
      @media (min-width: 768px) {
        .board-write .table tbody tr td .form-control {
          width: 210px; } }
      @media (min-width: 992px) {
        .board-write .table tbody tr td .form-control {
          width: 350px; } }
    .board-write .table tbody tr td .u-id {
      line-height: 30px; }
    .board-write .table tbody tr td textarea {
      width: 100% !important;
      height: 130px !important; }
      @media (min-width: 992px) {
        .board-write .table tbody tr td textarea {
          height: 190px !important; } }
    .board-write .table tbody tr td.phone .form-group .form-control {
      display: inline-block;
      width: 29%;
      padding: 5px; }
      @media (min-width: 768px) {
        .board-write .table tbody tr td.phone .form-group .form-control {
          width: 94px;
          padding: 6px 12px; } }
    .board-write .table tbody tr td.mail .form-group .form-control {
      width: 42.9%;
      display: inline-block; }
      .board-write .table tbody tr td.mail .form-group .form-control:first-child {
        margin-right: 5px; }
      .board-write .table tbody tr td.mail .form-group .form-control:last-child {
        margin-left: 5px; }
      @media (min-width: 768px) {
        .board-write .table tbody tr td.mail .form-group .form-control {
          width: 134px; } }
    .board-write .table tbody tr td.disclose .form-group label {
      vertical-align: middle;
      color: #555; }
      .board-write .table tbody tr td.disclose .form-group label input {
        position: relative;
        top: 2px;
        margin-right: 6px; }
      .board-write .table tbody tr td.disclose .form-group label:first-child {
        margin-right: 30px; }
    .board-write .table tbody tr td.file .form-group {
      position: relative;
      padding-right: 70px; }
      .board-write .table tbody tr td.file .form-group label {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 30px;
        color: #333;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        background-color: #ececec; }
        @media (min-width: 768px) {
          .board-write .table tbody tr td.file .form-group label {
            left: 220px;
            width: 80px; } }
        @media (min-width: 992px) {
          .board-write .table tbody tr td.file .form-group label {
            left: 360px;
            width: 80px; } }
    @media (min-width: 768px) {
      .board-write .table tbody tr td {
        font-size: 14px;
        padding-left: 30px;
        padding-right: 30px; } }

.board-view .view-header {
  border-top: 2px solid #555;
  border-bottom: 1px solid #d1d1d1; }
  .board-view .view-header .subject {
    font-size: 14px;
    color: #303030;
    padding: 25px 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #d1d1d1; }
    @media (min-width: 768px) {
      .board-view .view-header .subject {
        padding-left: 40px;
        padding-right: 40px; } }
  .board-view .view-header .writer-info {
    padding: 10px; }
    .board-view .view-header .writer-info li {
      position: relative;
      display: inline-block;
      font-size: 12px;
      color: #666;
      opacity: .5;
      margin-right: 30px; }
      .board-view .view-header .writer-info li:last-child {
        margin-right: 0; }
      .board-view .view-header .writer-info li dl {
        display: inline-block; }
        .board-view .view-header .writer-info li dl dt {
          display: inline-block;
          color: #666;
          font-weight: 300;
          margin-right: 15px; }
        .board-view .view-header .writer-info li dl dd {
          display: inline-block;
          color: #666;
          font-weight: 300; }
      .board-view .view-header .writer-info li.writer {
        display: none; }
        @media (min-width: 768px) {
          .board-view .view-header .writer-info li.writer {
            display: inline-block; } }
      @media (min-width: 768px) {
        .board-view .view-header .writer-info li.date dl dt {
          display: none; } }
    @media (min-width: 768px) {
      .board-view .view-header .writer-info {
        padding: 15px 40px; }
        .board-view .view-header .writer-info li {
          font-size: 13px;
          margin-right: 45px; }
          .board-view .view-header .writer-info li dl dt {
            margin-right: 3px; } }
    @media (min-width: 992px) {
      .board-view .view-header .writer-info li {
        font-size: 14px; } }
.board-view .view-content {
  min-height: 210px;
  font-size: 13px;
  color: #666;
  line-height: 20px;
  padding: 15px 10px; }
  @media (min-width: 768px) {
    .board-view .view-content {
      min-height: 300px;
      font-size: 14px;
      line-height: 24px;
      padding: 25px 40px; } }
  .board-view .view-content .img-responsive {
    margin: 0 auto; }
.board-view .attach {
  padding: 15px 10px;
  border-top: 1px solid #d1d1d1;
  border-bottom: 2px solid #555; }
  .board-view .attach dt {
    display: inline-block;
    font-size: 13px;
    color: #222;
    margin-right: 30px; }
    .board-view .attach dt .icon-attach {
      margin-right: 5px; }
  .board-view .attach dd {
    display: inline-block; }
    .board-view .attach dd a {
      display: inline-block; }
      .board-view .attach dd a:after {
        content: ",";
        margin-right: 5px; }
      .board-view .attach dd a:last-child:after {
        content: "";
        margin-right: 0; }
  @media (min-width: 768px) {
    .board-view .attach {
      padding-left: 40px;
      padding-right: 40px; }
      .board-view .attach dt {
        font-size: 14px; }
      .board-view .attach dd a {
        font-size: 14px; } }
.board-view .reply-area .form-group {
  position: relative;
  padding: 10px;
  padding-right: 100px;
  border: 1px solid #e0e0e0;
  background-color: #f8f9fa; }
  .board-view .reply-area .form-group .form-control {
    width: 100%;
    height: 32px;
    border: 1px solid #e4e4e4; }
  .board-view .reply-area .form-group textarea {
    width: 100%;
    height: 70px !important;
    border: 1px solid #e4e4e4; }
  .board-view .reply-area .form-group .btn-comment {
    position: absolute;
    bottom: 10px;
    right: 10px; }
    .board-view .reply-area .form-group .btn-comment .btn {
      width: 80px;
      height: 70px;
      font-size: 12px;
      color: #fff;
      line-height: 70px;
      text-align: center;
      background-color: #ec6708; }
  .board-view .reply-area .form-group .comment_info {
    margin-bottom: 10px;
    margin-right: -90px; }
    @media (min-width: 768px) {
      .board-view .reply-area .form-group .comment_info {
        margin-bottom: 20px; } }
    .board-view .reply-area .form-group .comment_info p {
      font-size: 13px;
      color: #333;
      margin: 10px 0; }
      @media (min-width: 768px) {
        .board-view .reply-area .form-group .comment_info p {
          font-size: 15px;
          margin-top: 20px; } }
    .board-view .reply-area .form-group .comment_info label {
      font-size: 12px;
      color: #666;
      margin-right: 10px; }
      @media (min-width: 768px) {
        .board-view .reply-area .form-group .comment_info label {
          font-size: 13px; } }
    .board-view .reply-area .form-group .comment_info input[type="checkbox"] {
      position: relative;
      top: 2px; }
    .board-view .reply-area .form-group .comment_info .frm_input {
      width: 70px;
      height: 32px;
      margin-right: 20px;
      border: 1px solid #e4e4e4; }
      @media (min-width: 768px) {
        .board-view .reply-area .form-group .comment_info .frm_input {
          height: 42px;
          width: 150px; } }
      @media (min-width: 992px) {
        .board-view .reply-area .form-group .comment_info .frm_input {
          width: 180px; } }
  @media (min-width: 768px) {
    .board-view .reply-area .form-group {
      padding: 30px;
      padding-right: 140px; }
      .board-view .reply-area .form-group .form-control {
        height: 32px; }
      .board-view .reply-area .form-group textarea {
        height: 100px !important; }
      .board-view .reply-area .form-group .btn-comment {
        position: absolute;
        bottom: 30px;
        right: 30px; }
        .board-view .reply-area .form-group .btn-comment .btn {
          width: 100px;
          height: 100px;
          font-size: 13px;
          line-height: 100px; } }
  @media (min-width: 992px) {
    .board-view .reply-area .form-group .btn-comment .btn {
      font-size: 14px; } }
.board-view .reply-area .comment-list > li {
  padding: 20px 10px;
  border-bottom: 1px solid #dfdfdf; }
  @media (min-width: 768px) {
    .board-view .reply-area .comment-list > li {
      padding: 20px 30px; } }
  .board-view .reply-area .comment-list > li .info {
    overflow: hidden;
    margin-bottom: 15px; }
    .board-view .reply-area .comment-list > li .info p {
      float: left;
      display: inline-block;
      font-size: 12px; }
      .board-view .reply-area .comment-list > li .info p.u-name {
        color: #333;
        margin-right: 10px;
        font-weight: 600; }
      .board-view .reply-area .comment-list > li .info p.date {
        position: relative;
        top: -1px;
        color: #666;
        font-family: 'Lato', sans-serif; }
      @media (min-width: 768px) {
        .board-view .reply-area .comment-list > li .info p {
          font-size: 13px; } }
    .board-view .reply-area .comment-list > li .info ul {
      float: right;
      font-size: 0; }
      .board-view .reply-area .comment-list > li .info ul li {
        display: inline-block;
        font-size: 12px; }
        .board-view .reply-area .comment-list > li .info ul li a {
          color: #999; }
        .board-view .reply-area .comment-list > li .info ul li:after {
          content: "|";
          color: #999;
          padding: 0 10px; }
        .board-view .reply-area .comment-list > li .info ul li:last-child:after {
          content: "";
          padding: 0; }
        @media (min-width: 768px) {
          .board-view .reply-area .comment-list > li .info ul li {
            font-size: 13px; } }
  .board-view .reply-area .comment-list > li .content {
    font-size: 12px;
    color: #999; }
    @media (min-width: 768px) {
      .board-view .reply-area .comment-list > li .content {
        font-size: 13px; } }
  .board-view .reply-area .comment-list > li.reply {
    padding-left: 40px;
    background-image: url(/assets/images/sub/reply_bg.gif);
    background-repeat: no-repeat;
    background-position: 10px 35px; }
    @media (min-width: 768px) {
      .board-view .reply-area .comment-list > li.reply {
        padding-left: 60px;
        background-position: 30px 35px; } }

.btn-area {
  text-align: center; }
  .btn-area p {
    font-size: 0; }
    .btn-area p .btn {
      display: inline-block;
      font-size: 13px;
      color: #fff;
      line-height: 40px;
      text-align: center; }
      @media (min-width: 768px) {
        .btn-area p .btn {
          font-size: 14px; } }
      .btn-area p .btn:last-child {
        margin-right: 0 !important; }
      .btn-area p .btn.btn-xs {
        width: 96px;
        margin-right: 6px; }
      .btn-area p .btn.btn-lg {
        width: 300px; }
        @media (min-width: 768px) {
          .btn-area p .btn.btn-lg {
            width: 96px; } }
      .btn-area p .btn.btn-sm {
        width: 145px;
        margin-right: 10px; }
        @media (min-width: 768px) {
          .btn-area p .btn.btn-sm {
            width: 96px; } }
      .btn-area p .btn.btn-org {
        background-color: #ec6708; }
      .btn-area p .btn.btn-gray {
        background-color: #4c4c4c; }
      .btn-area p .btn.btn-aqua {
        background-color: #02b1a0; }

.paging {
  text-align: center;
  height: 30px; }
  .paging .pagination {
    display: inline-block;
    margin: 0; }
    .paging .pagination li a {
      width: 30px;
      height: 30px;
      font-size: 13px;
      color: #999;
      line-height: 30px;
      padding: 0;
      text-align: center;
      border: 0;
      border-radius: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .paging .pagination li a i:before {
        margin: 0; }
      .paging .pagination li a:hover, .paging .pagination li a:focus {
        color: #02b1a0;
        background: none;
        font-weight: bold; }
    .paging .pagination li.active a {
      color: #02b1a0;
      background: none;
      font-weight: bold; }
    .paging .pagination li.angle a {
      width: 25px; }

/*# sourceMappingURL=sub.css.map */
